/* Inicio de cards */
.container-cards {
  background-image: url(estudios.png);
  background-size: repeat;
  display: flex;
  padding: 40px 16px 40px 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  align-self: stretch;
}

.container-icons-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.container-icons-contact icons-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  width: 40px;
  height: 40px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
}
.card h3, h4 {
  position: relative;
  z-index: 1;
  font-size: var(--ubuntu--headline--29-medium-400);
  text-align: center;
  font-weight: 400;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 38px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1.5s;
}

.card .front {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(0deg);
}

.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

/* back water */
.card .back-water {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-water {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-water::before {
  content: "";
  background-image: conic-gradient(#76bbff 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-water::after {
  content: "";
  position: absolute;
  background-image: url("agua.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

/* back air */
.card .back-air {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-air {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-air::before {
  content: "";
  background-image: conic-gradient(#D2E4EE 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-air::after {
  content: "";
  position: absolute;
  background-image: url("aire.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

/* back ea.back-earth */
.card .back-earth {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-earth {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-earth::before {
  content: "";
  background-image: conic-gradient(#b8895d 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-earth::after {
  content: "";
  position: absolute;
  background-image: url("tierra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

/* back fire */
.card .back-fire {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-fire {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-fire::before {
  content: "";
  background-image: conic-gradient(#c05600 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-fire::after {
  content: "";
  position: absolute;
  background-image: url("fuego.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* final de cards */
  @media only screen and (min-width: 576px) {
  .mission-img,
  .vision-img {
    padding:20px;
    padding: 0 30px 0 30px;
  }

  .mission-img img,
  .vision-img img{
    max-width: 700px;
  }
  .mission-text,
  .vision-text{
    min-height: 300px;
    margin-top: 10%;
  }

  .mission-description,
  .vision-description{
    font-size: 3vw;
  }

    .scroll-container{
      margin-left: 20px;
      margin-right: 20px;
    }
    .value-card-background{
      width: 218px;
      height: 274px;
    }
    .value-card-title{
      font-size: var(--ubuntu--headline--23-small-400);
    }
    
    .value-card-main-content{
      font-size: var(--ubuntu--body--20-xxlarge-400);
    } 
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .vision-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    gap:32px;
    padding:32px;
  }

  .text-ltr{
    direction: ltr;
  }

  .mission-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
    padding:32px;
  }

  .mission-img,
  .vision-img{
    padding: 0 0 0 0;
  }
  
  .mission-text,
  .vision-text{
    min-height: 300px;
    margin: 0 auto 0 auto; 
    align-content: center;
    max-width: 500px;
  }

  .mission-description,
  .vision-description{
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }
  
  .scroll-container{
      margin-left: 32px;
      margin-right: 32px;
  }
  
  .container-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card {
    width: 40%;
  }

  .container-intro-about p{
    font-size: var(--ubuntu--headline--29-medium-400);
  }

  .about-us-banner h2{
    font-size: var(--ubuntu--display--46-medium-400);
  }

  .team-work p{
    font-size: var(--ubuntu--display--36-small-400);
  }

}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
  .card {
    height: 450px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-cards {
    display: flex;
  }

  .card {
    width: 22%;
    height: 500px;
  }

  .about-us-banner h2{
    font-size: var(--ubuntu--display--52-large-400);
  }

  .container-intro-about p{
    font-size: var(--ubuntu--headline--32-large-400);
  }

  .team-work p{
    font-size: var(--ubuntu--display--46-medium-400);
  }
}
/* ------------ END mediaquery values ------------------ */