*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Variables colores  */
  --Colors-neutral-black: #010F14;
  --Colors-neutral-disable-50: #F5F9FA;
  --Colors-neutral-disable-100: #DFE9EC;
  --Colors-neutral-disable-200: #D2E1E5;
  --Colors-neutral-disable-300: #ABC9CE;
  --Colors-neutral-white: #FAFEFE;
  --Colors-primary-blue-50: #EBFFFE;
  --Colors-primary-blue-100: #CDFCFF;
  --Colors-primary-blue-200: #A2F7FF;
  --Colors-primary-blue-300: #62F0FE;
  --Colors-primary-blue-400: #1BDEF5;
  --Colors-primary-blue-500: #00C1DB;
  --Colors-primary-blue-600: #029AB8;
  --Colors-primary-blue-700: #097B95;
  --Colors-primary-blue-800: #126378;
  --Colors-primary-blue-950: #063646;
  --Colors-primary-blue-principal-900: #11485A;
  --Colors-secondary-green-50: #F2FFE6;
  --Colors-secondary-green-100: #E1FEC9;
  --Colors-secondary-green-300: #9EF85E;
  --Colors-secondary-green-400: #7BEE2D;
  --Colors-secondary-green-500: #5BD40E;
  --Colors-secondary-green-600: #42AA06;
  --Colors-secondary-green-700: #34810A;
  --Colors-secondary-green-800: #2C660E;
  --Colors-secondary-green-900: #275611;
  --Colors-secondary-green-950: #103003;
  --Colors-secondary-green-principal-200: #C1FD93;
  --Colors-semantic-alert: #EE9E1E;
  --Colors-semantic-error: #E93828;
  --Colors-semantic-success: #008F5C;

  /* Text-size styles */
  /* base size: ubuntu--body--16-large-400 (16px) */
  --ubuntu--display--52-large-400: 3.25rem;
  --ubuntu--display--46-medium-400: 2.88rem;
  --ubuntu--display--36-small-400: 2.25rem;
  --ubuntu--headline--32-large-400: 2rem;
  --ubuntu--headline--29-medium-400: 1.81rem;
  --ubuntu--headline--23-small-400: 1.44rem;
  --ubuntu--label--14-large-700: 0.88rem;
  --ubuntu--label--14-large-500: 0.88rem;
  --ubuntu--label--13-medium-700: 0.81rem;
  --ubuntu--label--13-medium-500: 0.81rem;
  --ubuntu--label--11-small-500: 0.69rem;
  --ubuntu--label--11-small-400: 0.69rem;
  --ubuntu--label--11-small-400-strike: 0.69rem;
  --ubuntu--body--13-small-400: 0.81rem;
  --ubuntu--body--14-medium-400: 0.88rem;
  --ubuntu--body--14-medium-400-strike: 0.88rem;
  --ubuntu--body--16-large-400: 1rem;
  --ubuntu--body--18-xlarge-400: 1.12rem;
  --ubuntu--body--20-xxlarge-400: 1.25rem;
  --ubuntu--tittle--14-small-500: 0.88rem;
  --ubuntu--tittle--16-medium-500: 1rem;
  --ubuntu--tittle--16-medium-700: 1rem;
  --ubuntu--tittle--23-large-400: 1.44rem;
}

body{
  font-family: "Ubuntu";
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.container-links {
  display: flex;
  flex-wrap: wrap;

}
.container-copyright{
  width: 100%;
  padding: 8px 100px 16px  100px;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  flex: 1 0 0;
  align-items: flex-start;
  align-self: stretch;
  background: var(--secondary-green-principal-200, #C1FD93);
}

.container-copyright a{
  text-decoration: none;
  color: var(--secondary-green-900, #275611);
}

.container-copyright a:hover{
  color:  var(--secondary-green-600, #42AA06);
  border-bottom: 2px solid var(--secondary-green-600, #42AA06)
}

.container-copyright p{
  color: var(--primary-blue-principal-900, #11485A);
}

.container-copyright a,
.container-copyright p{
  font-size: var(--ubuntu--body--14-medium-400);
}

.copyright{
  display: flex; 
  align-items: center;
  gap: 36px;
  }

.sign-in{
  display: flex;
  align-items: center;
  align-self: center;
  display: flex;
  gap: 10px;
}

.container-links{
  display: flex;
  padding: 16px 100px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid var(--primary-blue-800, #126378);
  background: var(--primary-blue-principal-900, #11485A);
  color: var(--neutral-white, #FAFEFE);
}

.container-links a{
  text-decoration: none;
  color: var(--neutral-white, #FAFEFE);
}

.container-links a:hover{
  color:  var(--secondary-green-600, #42AA06);
  border-bottom: 2px solid var(--secondary-green-600, #42AA06)
}

/* Media query mobile {
  .container-copyright{
      padding: 10px 16px 16px 16px;
      /* width: 360px;
      max-width: 360px;
  }
  .sign-in{
    padding-bottom:10px;
} */