@import url(styles.css);
/* Inicio de cards */
.container-cards {
  background: linear-gradient(0deg, rgba(17, 72, 90, 0.8) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(0deg, rgba(12, 53, 116, 0.50) 0%, rgba(12, 116, 22, 0.50) 29.5%, rgba(143, 19, 19, 0.50) 60.5%, rgba(63, 59, 59, 0.50) 84.5%, rgba(250, 254, 254, 0.60) 100%);
  width: 100%;
  height: 50%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-self: stretch;
  text-align: center;
}

.card-member {
  position: relative;
  width: 90%;
  height: 400px;
}

.card-member h3 {
  font-size: var( --ubuntu--headline--32-large-400);
}

.card-member h4 {
  font-size: var(--ubuntu--headline--23-small-400);
}

.card-member div {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 30px;
  overflow: hidden;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1.5s;
}

.card-member .front {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(0deg);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-member:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.card-member .front .img {
  border: solid #f13607 5px;
  border-radius: 50%;
  width: unset;
  height: auto;
}

.element-card-member {
  padding-bottom: 10px;
}

/* back water */
.list-inline-water {
  padding-left: 0px;
}

.list-inline-water > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-water i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-water i:hover {
  font-size: 50px;
  color: #3a9dff;
}
.card-member .back-water {
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
  font-size: var(--ubuntu--body--16-large-400);
}

.card-member:hover .back-water {
  transform: perspective(500px) rotateY(360deg);
}

.card-member .back-water::before {
  content: "";
  background-image: conic-gradient(#3a9dff 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card-member .back-water::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-water {
  border-radius: 50%;
  border: solid #3a9dff 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

/* back air */

.list-inline-air {
  padding-left: 0px;
}

.list-inline-air > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-air i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-air i:hover {
  font-size: 50px;
  color: #a2dfff;
}

.card-member .back-air {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
  font-size: var(--ubuntu--body--16-large-400);
}

.card-member:hover .back-air {
  transform: perspective(500px) rotateY(360deg);
}

.card-member .back-air::before {
  content: "";
  background-image: conic-gradient(#a2dfff 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card-member .back-air::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-air {
  border-radius: 50%;
  border: solid #a2dfff 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

/* back ea.back-earth */
.list-inline-earth {
  padding-left: 0px;
}

.list-inline-earth > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-earth i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-earth i:hover {
  font-size: 50px;
  color: #5db85d;
}
.card-member .back-earth {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
  font-size: var(--ubuntu--body--16-large-400);
}

.card-member:hover .back-earth {
  transform: perspective(500px) rotateY(360deg);
}

.card-member .back-earth::before {
  content: "";
  background-image: conic-gradient(#5db85d 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card-member .back-earth::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-earth {
  border-radius: 50%;
  border: solid #5db85d 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

/* back fire */
.list-inline-fire {
  padding-left: 0px;
  border: #f13607;
}

.list-inline-fire > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-fire i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-fire i:hover {
  font-size: 50px;
  color: #f13607;
}

.card-member .back-fire {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
  font-size: var(--ubuntu--body--16-large-400);
}

.card-member:hover .back-fire {
  transform: perspective(500px) rotateY(360deg);
}

.card-member .back-fire::before {
  content: "";
  background-image: conic-gradient(#f13607 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card-member .back-fire::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-fire {
  border-radius: 50%;
  border: solid #f13607 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}


@media only screen and (min-width: 768px) {
  .container-cards{
    flex-direction: row;
    flex-wrap: wrap
  }

  .card-member {
    width: 45%;
  }

  .card-member h3{
  font-size: var(--ubuntu--headline--32-large-400)
  }

  .card-member .back-water {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }

  .card-member .back-earth {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }

  .card-member .back-air {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }

  .card-member .back-fire {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }
  
}

@media only screen and (min-width: 1200px) {
  .container-cards{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card-member {
    width: 45%;
  }

  .card-member .back-water {
    font-size: var(--ubuntu--tittle--16-medium-500);
  }

  .card-member .back-earth {
    font-size: var(--ubuntu--tittle--16-medium-500);
  }

  .card-member .back-air {
    font-size: var(--ubuntu--tittle--16-medium-500);
  }

  .card-member .back-fire {
    font-size: var(--ubuntu--tittle--16-medium-500);
  }
}
/* fin cards */