.container-recommendation {
  width: 90%;
  overflow: hidden;
}

.galery-recommendation {
  width: 300%;
  display: flex;
  flex-wrap: row nowrap;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);

}

.card-product-recommendation {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 10px 12px;
  align-items: center;
  gap: var(--Border-radius-border-4, 6px);
  align-self: stretch;
  height: 100%;
  width: calc(100% / 3);
  /* border: solid 2px gray; */
  border-radius: 10px;
}

.card-product-recommendation img {
  width: 75%;
  height: 200px;
  margin: auto;
}

.header-botton-recommendation {
  display: flex;
  padding: 10px 12px;
  flex-direction: column;
  width: 60%;
  gap: var(--Border-radius-border-4, 6px);
  border-radius: 8px;
  border: 0.2px solid var(--primary-blue-principal-900, #11485a);
  background: var(--primary-blue-50, #ebfffe);
  color: var(--primary-blue-950, #063646);
}

.header-botton-recommendation h3 {
  color: var(--primary-blue-950, #063646);
  font-size: var(--ubuntu--headline--29-medium-400);
  height: 50px;
  margin-bottom: 20px !important;
}

.header-botton-recommendation .price-and-discount {
  display: flex;
  width: 100%;
  font-size: var(--ubuntu--body--18-xlarge-400);
  margin-bottom: 0px;
  gap: 40px;
}

.header-botton-recommendation .price-1 {
  text-decoration-line: line-through;
  color: var(--neutral-disable-300, #abc9ce);
  margin-bottom: 0px;
}

.info-card-product .price-1 {
  text-decoration-line: line-through;
  color: var(--neutral-disable-300, #abc9ce);
  margin-bottom: 0px;
}

.header-botton-recommendation .price-2 {
  font-size: var(--ubuntu--tittle--23-large-400);
  margin-bottom: 0px;
}

.header-botton-recommendation .discount {
  color: var(--secondary-green-600, #42aa06);
  margin-bottom: 0px;
}

.header-botton-recommendation .botton-info-card-product {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: var(--ubuntu--headline--23-small-400);
  margin-bottom: 0px;
}

.header-botton-recommendation a {
  font-size: var(--ubuntu--body--20-xxlarge-400);
  color: var(--Colors-primary-blue-600);
  text-decoration: none;
}

.header-botton-recommendation #btn-recommendation {
  display: inline-flex;
  padding: var(--Border-radius-border-4, 6px) 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-blue-principal-900, #11485A);
  border: none;
}

.container-recommendation .docks {
  width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container-recommendation .dock {
  width: 2em;
  height: 2em;
  margin: 1em 0.2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-recommendation .dock.active svg circle {
  fill: #11485a;
}

@media only screen and (min-width: 768px) {
  .card-product-recommendation img {
    width: 30%;
  }
}
