.footer{
  width: 100%;
  background-color: var(--primary-blue-principal-900, #11485A);
  bottom: 0;
  position: relative;
}

/* Configurar estilos para container links contact, about and social media */
.footer .container-links{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: grid;
  border-bottom: 1px solid var(--primary-blue-800, #126378);
  color: var(--neutral-white, #FAFEFE);
  grid-template-columns: repeat(2, 1fr);
  padding: 16px 24px;
  gap: 30px
}

/* Estilo para cuando esté el logo  */
/*.footer .container-links figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 ancho específico logo  */
/* .footer .container-links img{
  width: 250px;
}
*/

.footer .logo{
  display: none;
}

.footer .container-links a{
  text-decoration: none;
  color: var(--neutral-white, #FAFEFE);
} 

/* Tamaño iconos social media  */
.footer .container-links .social-media a{
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: all 300ms ease-in-out;
} 

.footer .container-links h4{
  font-weight: 700;
}

.footer .container-links a:hover,
.footer .container-links .social-media a{
  color:  var(--primary-blue-300, #62F0FE);
  /* border-bottom: 2px solid var(--primary-blue-300, #62F0FE); */
}

.footer .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.footer .links ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

/*? Configurar estilos para container derechos */
.footer .container-copyright{
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap-reverse;
  justify-items:flex-start;
  justify-content:flex-start; 
  padding: 16px 24px;
  background-color: var(--secondary-green-principal-200, #C1FD93);
  font-weight: 300;
}

.container-copyright a{
  text-decoration: none;
  color: var(--secondary-green-900, #275611);
  font-weight: 400;
}

.container-copyright a:hover{
  color:  var(--secondary-green-600, #42AA06);
  border-bottom: 2px solid var(--secondary-green-600, #42AA06)
}

.container-copyright p{
  color: var(--primary-blue-principal-900, #11485A);
}

.container-copyright a,
.container-copyright p{
  font-size: var(--ubuntu--body--14-medium-400);
}

.copyright{
  display: flex; 
  gap: 20px;
}

.sign-in {
  display: flex;
  gap: 10px;
}

.terms-policy {
  display: none;
}

/* Media query para tablet */
/* @media(max-width: 768px) {
  .footer .container-links{
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 24px;
  }

  .footer .container-copyright{
    padding: 16px 24px;
    gap: 50px;
  } 

  .copyright{
    display: flex; 
    flex-wrap: wrap-reverse;
    gap: 4px
    }
  
  .sign-in{
    display: flex; 
    flex-wrap: wrap;
    gap: 4px
  }
  .copyright a{
    margin-inline-end: 10px;
  }
} */

/* Media query para mobile
@media(max-width: 500px) {

  .footer .container-links {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 24px;
  }

  .terms-policy{
    display: none;
  }

  .footer .container-copyright{
    display: flex; 
    flex-wrap: wrap-reverse;
    justify-items:flex-start;
    justify-content:flex-start; 
    padding: 16px 24px;
    gap: 12px;
  } 
} */

/* ----------------MEDIA QUERIES FOR RESPONSIVE DESIGN---------------- */
/* MQ for tablets ((min-width: 768px) */
@media (min-width: 768px){
  .footer .logo{
    display: block;
  }

  .footer .container-links{
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 24px;
  }

  .footer .container-copyright{
    padding: 16px 24px;
    gap: 50px;
  } 

  .copyright{
    display: flex; 
    flex-wrap: wrap-reverse;
    gap: 4px
    }
  
  .sign-in{
    display: flex; 
    flex-wrap: wrap;
    gap: 4px
  }
  .copyright a{
    margin-inline-end: 10px;
  }
}

/* MQ for desktop (min-width: 1200px) */
@media (min-width: 1200px){
  .footer .container-links{
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 50px;
  }

  .terms-policy{
    display: flex;
    gap: 10px;
    display: block;
  }

  .footer .container-copyright{
    gap: 100px;
    justify-items: center;
    justify-content: center;
    padding: 16px 50px;
    font-weight: 300;
  }
}
