/* start of form page */

.add-product-container {
  background-color: var(--Colors-neutral-white, #fafefe);
  padding: 20px;
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu';
}

.add-product-container h2 {
  font-size: var(--ubuntu--headline--32-large-400);
  text-align: center;
  margin-bottom: 10px;
}

#description{
  font-family: 'Ubuntu';
}

.add-product-container p {
  text-align: center;
  margin-bottom: 20px;
}

.add-product-form-container {
  flex: 1;
}

.add-product-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-product-form label {
  text-align: left;
  font-weight: bold;
}

.add-product-form input, 
.add-product-form select, 
.add-product-form textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-blue-700, #097B95);
  background: var(--neutral-white, #FAFEFE);
}

.add-product-form textarea {
  resize: vertical;
  height: 100px;
}

.add-product-form input:focus, 
.add-product-form select:focus, 
.add-product-form textarea:focus {
  outline: none;
}

.add-product-form button{
  padding: 10px;
  background-color: var(--Colors-primary-blue-principal-900, #11485A);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid var(--Colors-primary-blue-800, #126378);
  font-size: var(--ubuntu--body--13-small-400);
}

#input-images::file-selector-button {
  background-color: var(--Colors-primary-blue-principal-900, #11485A);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  padding: 6px 10px;
  border: 1px solid var(--Colors-primary-blue-800, #126378);
  margin-right: 12px;
}

.preview li,
.preview div > p {
  background: var(--Colors-neutral-white, #fafefe);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  border-bottom: 1px solid var(--Colors-neutral-disable-300, #abc9ce);
  padding-bottom: 8px;
}

.preview ol {
  padding: 0;
}

.preview img {
  height: 64px;
  order: 1;
}

.preview{
  height: 200px;
  overflow-y: scroll;
  display: none;
}

.active{
  display: block
}

.add-product-form button:hover,
#input-images::file-selector-button:hover {
  background-color: var(--Colors-primary-blue-800, #126378);
}

.add-product-container a {
  color: var(--Colors-primary-blue-principal-900, #11485A);
  text-decoration: none;
  font-weight: bold;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left : 20px;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#input-images{
  border: none;
  padding: 0;
}

.img-attached{
  height: 64px;
  order: 1;
}

@media (min-width: 768px) {
  .add-product-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .add-product-form-container {
    flex: 1;
    margin-right: 20px;
  }

  .contact-image {
    flex: 1.2; 
    margin-top: 0;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .add-product-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-image {
    margin-top: 20px;
  }
}

/* end of add-product-form */