.contact-container {
    background-color: var(--Colors-neutral-white, #fafefe);
    padding: 20px;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    color: var(  --Colors-primary-blue-principal-900, #11485A);
  }
  
  .contact-container h2 {
    font-size: var(--ubuntu--headline--32-large-400);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-container p {
    text-align: center;
    margin: 10px 0px;
  }
  
  .contact-form-container {
    flex: 1;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
  }
  
  .contact-form label {
    text-align: left;
    font-weight: bold;
  }

  .contact-form input, 
  .contact-form select, 
  .contact-form textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--primary-blue-700, #097B95);
    background: var(--neutral-white, #FAFEFE);
  }
  .contact-form select{
    color: #7d7d7d ;
  }
  .contact-form select:focus{
    color: black;
  }
  .form-control.error input,
  .form-control.error select,
  .form-control.error textarea {
    border-color: var(--Colors-semantic-error, #e93828);
  }
  .form-control.success input,
  .form-control.success select,
  .form-control.success textarea {
    border-color: var(--primary-blue-700, #097B95);
  }
  small {
    color: var(--Colors-semantic-error, #e93828);
    visibility: hidden;
  }
  .form-control.error small {
    visibility: visible;
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-form input:focus, 
  .contact-form select:focus, 
  .contact-form textarea:focus {
    outline: none;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: var(--Colors-primary-blue-principal-900, #11485A);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid var(--Colors-primary-blue-800, #126378);
    font-size: 18px;
  }
  
  .contact-form button:hover {
    background-color: var(--Colors-primary-blue-800, #126378);
  }
  
  .contact-container a {
    color: var(--Colors-primary-blue-principal-900, #11485A);
    text-decoration: none;
    font-weight: bold;
  }
  
  .contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left : 20px;
  }
  
  .contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
   
  input::placeholder{
    font-size: 18px;
  }
  
  #email, #name, #phone, #topic, #message{
    font-size: 18px;
  }
  #email::placeholder,
  #name::placeholder,
  #phone::placeholder,
  #topic::placeholder
  #fullname::placeholder
  #password::placeholder
  #repeat-password::placeholder{
    font-size: 18px;
  }
  
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
    }
  
    .contact-form-container {
      flex: 1;
      margin-right: 20px;
    }
  
    .contact-image {
      flex: 1.2; 
      margin-top: 0;
      padding-left: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .contact-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .contact-image {
      margin-top: 20px;
    }
  }
  
  /* end of contact-form  */