.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.banner a{
  width: 100%;
}
.text-container h1{
  color: var(--primary-blue-principal-900, #11485A);
  text-align: center;
  padding: 32px;
  padding-top: 50px;
  font-size: 50px;
}
.text-container{
  text-align: center;
  justify-content: center;
}
.text-container .downB{
  font-size: 50px;
  color: #11485A;
  transition: 0.5s;
}
.text-container .downB:hover{
  cursor: pointer;
  font-size: 60px;
}


/* carousel */

/* Global var */
:root{
  /* 1st item no es un item activo, está borroso, no se muestra. */
  --item1-transform: translate(-100%,-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity:0; 

  /* 2nd item, item activo, es el estándar, que necesita moverse y ser visible */
  --item2-transform: translate(0,0);
  --item2-filter: blur(0);
  --item2-zIndex: 10;
  --item2-opacity:1; 
  
  /* el 3rd item no es activo, esta borroso, pero sí se muestra */
  --item3-transform: translate(50%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  /* el 4th item no es activo, esta borroso, pero sí se muestra */
  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity:1; 

  /* el 5th item no es activo, esta borroso, pero sí se muestra */
  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity:0; 
}
.carousel{
  position: relative;
  height:800px;
  overflow: hidden;
}
.list{
  position: absolute;
  top: 0;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}
.item{
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  font-size: 15px;
  transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.list img{
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
}
.intro{
  display: flex;
  gap: 12px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  opacity: 0;
  pointer-events: none;
}
/* Solo los detalles del 2do item serán visibles */
.item:nth-child(2) .intro{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
/* Del 6to item en adelante, no deben ser visibles */
.item:nth-child(n+6){
  opacity: 0;
  pointer-events: none;
  /* Siempre usar pointer-events: none cuando el item no es visible para que el usuario no los pueda manipular de ninguna manera */
}
.item:nth-child(2){
  transform: var(--item2-transform);
  filter: var(--item2-filter);
  z-index: var(--item2-zIndex);
  opacity: var(--item2-opacity);
}
.item:nth-child(1){
  transform: var(--item1-transform);
  filter: var(--item1-filter);
  z-index: var(--item1-zIndex);
  opacity: var(--item1-opacity);
  pointer-events: none;
}
.item:nth-child(3){
  transform: var(--item3-transform);
  filter: var(--item3-filter);
  z-index: var(--item3-zIndex);
  opacity: var(--item3-opacity);
}
.item:nth-child(4){
  transform: var(--item4-transform);
  filter: var(--item4-filter);
  z-index: var(--item4-zIndex);
  opacity: var(--item4-opacity);
}
.item:nth-child(5){
  transform: var(--item5-transform);
  filter: var(--item5-filter);
  z-index: var(--item5-zIndex);
  opacity: var(--item5-opacity);
  pointer-events: none;
}

/* Arrows */
.arrows{
  position: absolute;
  bottom: 10%;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next, #prev{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 1px solid #11485A;
  bottom: 20%;
  left: 10%;
  color: var(--Colors-neutral-white, #FAFEFE);
  background-color: var(--Colors-primary-blue-principal-900, #11485A);
}
#next{
  left: unset;
  right: 10%;
}
#next:hover, #prev:hover{
  background-color: #c1fd93a9;
  color: var(--Colors-primary-blue-principal-900, #11485A);
  cursor: pointer;
}

/* Text */
.title{
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  color: #11485A;
  padding: 8px;
  width: fit-content;
  background-color: var(--Colors-secondary-green-300, #9EF85E);
  border-radius: 4px;
}
.topic{
  font-size: var(--ubuntu--headline--32-large-400, 2rem);
  font-weight: 500;
  margin-bottom: 0.2em;
  color: var(--Colors-primary-blue-principal-900, #11485A);
}
.description{
  font-size: var(--ubuntu--body--18-xlarge-400, 1.12rem);
  /* color: #5559; */
}
.seeMore{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555;
  font-size: var(--ubuntu--body--16-large-400, 1rem);
  font-weight: bold;
  margin-top: 0.88em;
  padding: 5px 0px;
  color: #11485A;

}
.seeMore:hover{
  background: #c1fd93a9;
  cursor: pointer;
}
.item:nth-child(2) .title,
.item:nth-child(2) .topic,
.item:nth-child(2) .description,
.item:nth-child(2) .seeMore{
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
} 
@keyframes showContent {
  from{
    transform: translateY(50px);
    filter: blur(30px);  
  }to{
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
  /* El texto aparece desde 50px abajo  */
}

/* Cada parte tiene difenetes delays */
.item:nth-child(2) .title {
  animation-delay: 0.5s;
}
.item:nth-child(2) .topic {
  animation-delay: 0.8s;
}
.item:nth-child(2) .description{
  animation-delay: 1.1s;
}
.item:nth-child(2) .seeMore{
  animation-delay: 1.4s;
}

/* next click effect */
.next .item:nth-child(1){
  animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
  from{
      transform: var(--item2-transform);
      filter: var(--item2-filter);
      opacity: var(--item2-opacity);
  }
}
.next .item:nth-child(2){
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
  from{
      transform: var(--item3-transform);
      filter: var(--item3-filter);
      opacity: var(--item3-opacity);
  }
}
.next .item:nth-child(3){
  animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
  from{
      transform: var(--item4-transform);
      filter: var(--item4-filter);
      opacity: var(--item4-opacity);
  }
}
.next .item:nth-child(4){
  animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
  from{
      transform: var(--item5-transform);
      filter: var(--item5-filter);
      opacity: var(--item5-opacity);
  }
}


/* previous click effect */
.prev .list .item:nth-child(5){
  animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.prev .list .item:nth-child(4){
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.prev .list .item:nth-child(3){
  animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.prev .list .item:nth-child(2){
  animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
  from{
      transform: var(--item1-transform);
      filter: var(--item1-filter);
      opacity: var(--item1-opacity);        
  }
}


.carousel::before{
  width: 500px;
  height: 300px;
  content: '';
  background-image: linear-gradient(to right top, #c1fd93, #c1fd93, #c1fd93, #c1fd93, #c1fd93, #a2ef95, #84e197, #68d298, #2cb097, #008c8c, #006977, #11485a);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: 1s;
} 


/* tablets */
@media screen and (max-width: 1199px){
  .text-container h1{
    padding: 30px 20%;
    font-size: 35px;
  }
  .text-container .downB{
    height: 55px;
    width: 55px;
    font-size: 40px;
   }
   .text-container .downB:hover{
     font-size: 45px;
   }
  
  .item{
      width: 90%;
  }
  .intro{
    width: 50%;
  }
  .title{
    font-size:25px ;
  }
  .topic{
    font-size: var(--ubuntu--headline--32-large-400, 2rem);
  }
  .description{
    font-size: var(--ubuntu--body--18-xlarge-400, 1.12rem);
  }
  .carousel::before{
    width:  500px;
    height: 220px;
    filter: blur(120px);
  }
}

/* mobile */
@media screen and (max-width: 767px){
  .text-container h1{
    padding: 16px;
    font-size: 1.2rem;
  }
  .text-container .downB{
  height: 20px;
  width: 20px;
  font-size: 15px;
  }
  .text-container .downB:hover{
    font-size: 20px;
  }
  .carousel{
    height: 500px;
    margin-bottom: 50px;
  }
  .item{
    width: 100%;
    font-size: 10px;
  }
  .list{
      height: 100%;
  }
  .item:nth-child(2) .intro{
      width: 50%;
  }
  .item img{
      width: 45%;
  }
  .item:nth-child(2) .description{
    padding-right: 0;
    height: 100px;
    overflow: auto;
    font-size: var(--ubuntu--body--16-large-400, 1rem);
  }
  .intro{
    width: 100%;
  }
  .title{
    font-size:clamp(16px, 2.5vw, 20px); ;
  }
  .topic{
    font-size: clamp(26px, 6vw, 48px); ;
  }
  .carousel::before{
    width:  300px;
    height: 150px;
    filter: blur(70px);
  }
  .arrows{
    bottom:  0;
  }
}