.container-intro-about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: var(--primary-blue-principal-900, #11485A);
  font-size: var(--ubuntu--headline--23-small-400);
}

.container-intro-about p {
  margin: 40px 20px;
  padding: 0 20px 32px;
  /* font-size: var(--ubuntu--body--18-xlarge-400); */
  text-align: center;
}

.about-us-banner {
  position: relative;
  display: flex;
  align-content: center;
  text-align: center;
}

.about-us-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-weight: 700;
  font-size: var(--ubuntu--headline--23-small-400);
  margin: 0;
  color: var(--Colors-neutral-white);
}

.about-us-banner img {
  width: 100%;
  height: auto;
}

.team-work {
  display: flex;
  flex-direction: column;
}

.introtext{
  max-width: 1376px;
  margin: auto;
}
.who-we-are p{
  font-weight: normal;
}

.team-work img {
  width: 100%;
  max-width: 826px;
  margin: auto;
  padding: 0 40px;
}

.team-work p {
  padding: 0 20px;
  font-size: var(--ubuntu--headline--23-small-400);
  font-weight: 700;
  font-style: italic;
  color: var(--primary-blue-principal-900, #11485A);
}


@media only screen and (min-width: 768px) {

  .about-us-banner h2 {
    font-size: var(--ubuntu--headline--29-medium-400);
  }

  h2{
    font-size: var(--ubuntu--headline--29-medium-400);
  }
}
@media only screen and (min-width: 1200px) {
  h2{
    font-size: var(--ubuntu--headline--32-large-400);
  }

  .about-us-banner h2 {
    font-size: var(--ubuntu--display--36-small-400);
  }
  .who-we-are{
    font-size: var( --ubuntu--headline--23-small-400);
  }
  
}

