/* ----------------NAVBAR STYLES---------------- */
.navbar-blue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: var(--Colors-neutral-white, #FAFEFE);
    background: var(--primary-blue-principal-900, #11485A);
    font-family: 'Ubuntu', sans-serif;
}

#navsuperior{
    width: 100%;
    max-width: 1376px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

#navnavsuperior a{
    display: flex;
}

.logo{
    height: 40px;
    cursor: pointer;  
}

.icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.login-nav{
    display: flex;
    align-items: center;
    gap: 4px;
}

.login-nav a{
    margin-right: 12px;
}

.icons svg, .login-nav svg{
    width:26px;
    height: 26px;
    cursor: pointer;
}

.login-nav a{
    display: none;
}

.menu{
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 1376px;
}
.menu a, .login-user, .login-text{
    text-align: left;
    color: var(--Colors-neutral-white, #FAFEFE);
    text-decoration: none;
    font-size: 1rem; 
    width: max-content;
}

.menu a{
    display: flex;
    gap: 4px;
}

.login-user{
    line-height: normal;
}

.login-nav{
    position: relative;
}
.login-nav a{
    text-decoration: none;
}

.login-nav a{
    display: flex;
}

.modal-account{
    display: inline-flex;
    padding: 4px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 0.5px solid var(--primary-blue-600, #029AB8);
    background: var(--neutral-white, #FAFEFE);
    position: absolute;
    right: 6px;
    bottom: -58px;
}

.modal-account a {
    color: var(--primary-blue-principal-900, #11485A);
    font-size: var(--ubuntu--body--18-xlarge-400);
    width: max-content;
    text-decoration: none;
}

.modal-account a:hover{
    color:var(--Colors-primary-blue-600);
}

.searchbar,
.searchbar-hiddenonphone{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--Colors-neutral-white, #FAFEFE);
    border-radius: 4px;
    width: 100%;
    max-width: 550px;
    margin: 0;
    flex-grow: 1;
    outline: none;
}
.navbar-blue input{
    width: 100%;
    background-color: var(--primary-blue-principal-900, #11485A);
    border: 1px solid var(--neutral-disable-50, #F5F9FA);
    padding: 0.5rem;
    border-radius: 0.5rem;
    flex-grow: 1;
    color: var(--neutral-disable-100, #DFE9EC);
    color: var(--neutral-disable-100, #DFE9EC);
    /* Ubuntu/body/20-xxlarge-400 */
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline:none;
}
.navbar-blue input:focus{
    border-color: var(--Colors-secondary-green-principal-200, #c1fd93);
    box-shadow: 0 0 5px 2px var( --Colors-primary-blue-800, #126378);
}
.navbar-blue input::placeholder{
    color: var(--neutral-disable-100, #DFE9EC);
    /* Ubuntu/body/20-xxlarge-400 */
    font-family: Ubuntu;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.searchbar button,
.searchbar-hiddenonphone button{
    position:absolute;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: var(--Colors-neutral-white, #FAFEFE);
    color: var(--primary-blue-principal-900, #11485A);
    height:36px;
    width:36px;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: var(--neutral-white, #FAFEFE);
}
#navbarToggle{
    fill: var(--neutral-white, #FAFEFE);
}
.menu a:hover, 
.cart svg:hover,
.toggle svg:hover,
.login-user:hover,
#login-icon:hover{
    fill: var(--Colors-secondary-green-principal-200, #c1fd93);
    color: var(--Colors-secondary-green-principal-200, #c1fd93);
    /* background-color: rgba(255, 255, 255, 0.1); */
    cursor: pointer;
}

#session-arrow:hover{
    stroke: var(--Colors-secondary-green-principal-200, #c1fd93);
}

.cart{
    display: flex;
}

.active{
    display: grid;
    grid-template-columns: 1fr,
}

.menu-list{
    display: grid;
    width: fit-content;
    gap: 8px; 
    padding: 0;
}

.menu-list li a i{
    display: flex;
}

.menu-text{
    margin-left: 10px;
}

.hidden,
.searchbar-hiddenonphone{
    display: none;
}

.searchbar button:hover,
.searchbar-hiddenonphone button:hover
{
    background: var(--Colors-secondary-green-principal-200, #c1fd93);
}

#logout{
    display: none;
}
/* ----------------MEDIA QUERIES FOR RESPONSIVE DESIGN---------------- */

/* MQ for tablets ((min-width: 768px) */

@media (min-width: 768px){
    .navbar-blue{
        padding: 20px;
    }

    .logo{
        height: 60px;
    }
    .icons svg, .login-nav svg{
        width:32px;
        height: 32px;
    }

    .login-nav a{
        display: flex;
        width: max-content;
        align-items: center;
        gap: 12px;
        /* min-width: 210px; */
    }

    .toggle{
        display: none;
    }

    .menu{
        display: block;
        width: 100%;
    }

    .searchbar-hiddenonphone{
        position:relative;
        display:flex;
        max-width: none;
        margin: 0 20px;
    }
    .searchbar-hiddenonphone input{
        height: 40px;
    }
    .searchbar-hiddenonphone button{
        height:40px;
        width:40px;
    }
    .searchbar-hiddenonphone svg{
        height:24px;
        width: 24px;
    }

    .menu a, .login-user, .login-text,
    input,
    input::placeholder
    {
        font-size: 1.15rem; 
    }           
    .menu-list{
        display: flex;
        gap: 16px;
        width: 100%;
        justify-content: space-evenly;
    }
    .menu-list a{
        display: flex;
        
    }

    .searchbar{
        display: none;
    }

}
/* MQ for desktop (min-width: 1200px) */

@media (min-width: 1200px){
    .navbar-blue{
        padding: 16px 50px;
        gap: 24px;
    }

    .logo{
        height: 70px;
    }
    .icons svg, .login-nav svg{
        width:40px;
        height:40px;
    }

    .searchbar-hiddenonphone{
        /* margin: 0 32px; */
    }
    .searchbar-hiddenonphone input{
        height: 44px;
    }
    .searchbar-hiddenonphone button{
        height:44px;
        width:44px;
    }
    .searchbar-hiddenonphone svg{
        height:28px;
        width: 28px;
    }
    
    .toggle{
        display: none;
    }
    .menu{
        display: block;
        width: 100%;
    }
    .menu a, .login-user, .login-text,
    input,
    input::placeholder
    {
        font-size: 1.22rem; 
    }              
    .menu-list{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
