@import url(card-product.css);
@import url(carrusel-products.css);
@import url(card-product-detail.css);
@import url(header-recommendation.css);
@import url(styles.css);

* {
  margin-bottom: 0px !important;
}

#bannerVideo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
source {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.carrousel-container{
  display: flex;
  max-width: 1376px;
  gap: 24px;
  margin: auto;
  padding: 16px 0;
  border-top: 1px solid var(--neutral-disable-300, #ABC9CE);
  border-bottom: 1px solid var(--neutral-disable-300, #ABC9CE);
}

#container-categories{
  margin: 0 !important; 
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}

.products-container{
  display: flex;
  padding: 32px 0;
  justify-content: center;
  max-width: 1376px;
  gap: 12px;
  margin: auto;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 25%;
  padding: 20px;
  background-color: var(--Colors-neutral-disable-50, #F5F9FA);
  border-radius: 10px;
  height: fit-content;
  border: 1px solid var(--Colors-neutral-disable-100);
}

.filter-panel h4, .filter-panel h5 {
  margin: 0 0 10px;
}

.filter-group {
  margin-bottom: 20px;
}

/* Oculta el checkbox original */
.filter-group input[type="checkbox"] {
  display: none;
}

/* Estilo del checkbox personalizado */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--Colors-primary-blue-800, #126378); 
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

/* Estilo del checkbox cuando está marcado */
.filter-group input[type="checkbox"]:checked + .custom-checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--Colors-primary-blue-800, #126378);
  transform: translate(-50%, -50%);
}

.filter-group input[type="number"], .filter-group label {
  display: flex;
  margin: 6px 0;
  align-items: center;
}

#minPrice, #maxPrice{
  border: 1px solid var(--Colors-neutral-disable-300); 
  border-radius: 4px;
}

#minPrice::placeholder, #maxPrice::placeholder{
  font-size: var(--ubuntu--label--14-large-700, 0.88rem);
  padding: 4px;
}

.btn-apply-filters{
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-blue-principal-900, #11485A);
  color: var(--Colors-neutral-white, #FAFEFE);
  border: none;
}


.recomendations-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-recomendation {
  padding: 16px 40px;
  justify-content: center;
  max-width: 1376px;
  align-self: center;
}

.header-recomendation h2 {
  font-size: 32px;
  padding: 32px 0px 20px 0px;
  font-weight: normal;
  color: #11485a;
}
.header-recomendation p {
  align-self: flex-start;
  font-size: 22px;
  padding: 20px;
  font-weight: normal;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}

.container-products {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}

.container-products.hidden {
  opacity: 0;
}

.arrow_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--Border-radius-border-4, 6px);
  align-self: stretch;
  padding: 50px;
}

#container-products {
  transition: opacity 0.1s ease-in-out;
}

#container-products.fade-out {
  opacity: 0;
}

#container-products.fade-in {
  opacity: 1;
}
.page-link {
  color: #11485a !important;
}
.page-link:hover {
  background-color: #e1fec9 !important;
}

.active > .page-link {
  background-color: #11485a !important;
  border-color: #11485a !important;
  color: white !important;
}

#bigContainerCategories{
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 40px !important;
  padding: 0;
}

#categoryContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px !important;
  height: 100%;
  font-size: 20px !important;
}

#categoryContainer:hover{
  transform: scale(1.01);
}

#imgCategoryContainer{
  padding: 10px !important;
}

#categoryContainer img{
  height: 80%;
  width: 80%;
}

.category-link {
  transition: transform 0.2s ease;
  margin-block: 10px;
  margin-inline: 5px;
  font-weight: 500;
  color: var(--Colors-primary-blue-600);
}


#categoryText{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1 !important;
}

#categoryText a{
  height: 100%;
  align-items: center;
  align-content: center;
}
#categoryText:hover{
  color: var(--Colors-neutral-white) !important;
  background-color: var(--Colors-primary-blue-principal-900) !important;
 
  cursor: pointer;
}

.container-categories p {
  color: var(--Colors-primary-blue-800);
  font-weight: 500;
}

.container-categories a {
  font-weight: 500;
  color: var(--Colors-primary-blue-600);
  text-decoration: none;
}

.card-product:nth-child(2n + 1) {
  clear: left;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: none;
  background-color: var(--Colors-primary-blue-principal-900);
}

.scroll-to-top:hover {
  background-color: var(--Colors-primary-blue-700);
}

.show-scroll-to-top {
  display: block;
}

.scroll-to-top svg{
  vertical-align: baseline;
}

@media only screen and (min-width: 768px) {
  .container-categories {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }
}

@media only screen and (min-width: 1200px) {
  .container-categories {
    font-size: var(--ubuntu--headline--23-small-400);
  }
}