.registration {
    background-color: var(--Colors-neutral-white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  .registration h2 {
    font-size: var(--ubuntu--headline--29-medium-400);
    margin-bottom: 1rem;
    text-align: center;
  }

  .registration p {
    font-size: var(--ubuntu--body--14-medium-400);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .registration button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: var(--ubuntu--body--14-medium-400);
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  .continue-google {
    background-color: var(--Colors-primary-blue-500);
    color: var(--Colors-neutral-white);
  }

  .continue-x {
    background-color: var(--Colors-secondary-green-500);
    color: var(--Colors-neutral-white);
  }

  .registration form {
    display: flex;
    flex-direction: column;
  }

  .input-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .input-group label {
    font-size: var(--ubuntu--body--14-medium-400);
    margin-bottom: 0.5rem;
    display: block;
  }

  .input-group input,
  .input-group select {
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
    font-size: var(--ubuntu--body--14-medium-400);
    border: 1px solid var(--Colors-neutral-disable-200);
    border-radius: 4px;
  }

  .input-group .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
  }

  .input-group input:focus {
    outline: none;
    border-color: var(--Colors-primary-blue-500);
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  #error-message {
    color: var(--Colors-semantic-error);
    font-size: var(--ubuntu--label--13-medium-500);
    margin-bottom: 1rem;
  }

  #registerButton {
    background-color: var(--Colors-primary-blue-600);
    color: var(--Colors-neutral-white);
    font-size: var(--ubuntu--body--16-large-400);
  }

  #registerButton:hover {
    background-color: var(--Colors-primary-blue-700);
  }

  .input-group input::placeholder {
    color: var(--Colors-neutral-disable-300);
  }

  .registration p a {
    color: var(--Colors-primary-blue-600);
  }