.nav-actual-page{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 16px;
  height: auto;
  padding: 24px 16px;
  border-bottom: 1px solid var(--neutral-disable-300, #ABC9CE);
  background: var(--primary-blue-50, #EBFFFE);

  a{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
  }
}

.principal-container{
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-cart-container, .recommended-products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
}

.empty-cart-image{
  align-self: center;
}

.btn-primary{
  display: flex;
  gap: 8px;
  align-self: center;
  padding: 10px;
  width: fit-content;
  background-color: var(--Colors-primary-blue-principal-900, #11485A);
  border: 1px solid var(--Colors-primary-blue-800, #126378);
  color: var(--Colors-neutral-white, #FAFEFE);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  font-size: var(-ubuntu--body--18-xlarge-400, 1.12rem);
}