@import url(about-us.css);
@import url(help.css);
@import url(faqs.css);
@import url(form.css);
@import url(help.css);
@import url(products.css);
@import url(cards-members.css);
@import url(values.css);
@import url(navbar.css);
@import url(footer.css);
@import url(intro-about-us.css);
@import url(form-new-products.css);
@import url(home.css);
@import url(registration.css);
@import url(login.css);
@import url(shopping-cart.css);

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Ubuntu", sans-serif;
}

*, *::before, *::after{box-sizing: border-box;}
input, button, textarea, select { font: inherit}

:root {
  /* Variables colores  */
  --Colors-neutral-black: #010F14;
  --Colors-neutral-disable-50: #F5F9FA;
  --Colors-neutral-disable-100: #DFE9EC;
  --Colors-neutral-disable-200: #D2E1E5;
  --Colors-neutral-disable-300: #ABC9CE;
  --Colors-neutral-white: #FAFEFE;
  --Colors-primary-blue-50: #EBFFFE;
  --Colors-primary-blue-100: #CDFCFF;
  --Colors-primary-blue-200: #A2F7FF;
  --Colors-primary-blue-300: #62F0FE;
  --Colors-primary-blue-400: #1BDEF5;
  --Colors-primary-blue-500: #00C1DB;
  --Colors-primary-blue-600: #029AB8;
  --Colors-primary-blue-700: #097B95;
  --Colors-primary-blue-800: #126378;
  --Colors-primary-blue-950: #063646;
  --Colors-primary-blue-principal-900: #11485A;
  --Colors-secondary-green-50: #F2FFE6;
  --Colors-secondary-green-100: #E1FEC9;
  --Colors-secondary-green-300: #9EF85E;
  --Colors-secondary-green-400: #040504;
  --Colors-secondary-green-500: #5BD40E;
  --Colors-secondary-green-600: #42AA06;
  --Colors-secondary-green-700: #34810A;
  --Colors-secondary-green-800: #2C660E;
  --Colors-secondary-green-900: #275611;
  --Colors-secondary-green-950: #103003;
  --Colors-secondary-green-principal-200: #C1FD93;
  --Colors-semantic-alert: #EE9E1E;
  --Colors-semantic-error: #E93828;
  --Colors-semantic-success: #008F5C;

  /* Text-size styles */
  /* base size: ubuntu--body--16-large-400 (16px) */
  --ubuntu--display--52-large-400: 3.25rem;
  --ubuntu--display--46-medium-400: 2.88rem;
  --ubuntu--display--36-small-400: 2.25rem;
  --ubuntu--headline--32-large-400: 2rem;
  --ubuntu--headline--29-medium-400: 1.81rem;
  --ubuntu--headline--23-small-400: 1.44rem;
  --ubuntu--label--14-large-700: 0.88rem;
  --ubuntu--label--14-large-500: 0.88rem;
  --ubuntu--label--13-medium-700: 0.81rem;
  --ubuntu--label--13-medium-500: 0.81rem;
  --ubuntu--label--11-small-500: 0.69rem;
  --ubuntu--label--11-small-400: 0.69rem;
  --ubuntu--label--11-small-400-strike: 0.69rem;
  --ubuntu--body--13-small-400: 0.81rem;
  --ubuntu--body--14-medium-400: 0.88rem;
  --ubuntu--body--14-medium-400-strike: 0.88rem;
  --ubuntu--body--16-large-400: 1rem;
  --ubuntu--body--18-xlarge-400: 1.12rem;
  --ubuntu--body--20-xxlarge-400: 1.25rem;
  --ubuntu--tittle--14-small-500: 0.88rem;
  --ubuntu--tittle--16-medium-500: 1rem;
  --ubuntu--tittle--16-medium-700: 1.6rem;
  --ubuntu--tittle--23-large-400: 1.44rem;
}

h2 {
  text-align: center;
}

::selection {
  background: var(--Colors-primary-blue-principal-900);
  color: var(--Colors-neutral-white);
}