* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
}

:root {
  /* Variables colores  */
  --Colors-neutral-black: #010f14;
  --Colors-neutral-disable-50: #f5f9fa;
  --Colors-neutral-disable-100: #dfe9ec;
  --Colors-neutral-disable-200: #d2e1e5;
  --Colors-neutral-disable-300: #abc9ce;
  --Colors-neutral-white: #fafefe;
  --Colors-primary-blue-50: #ebfffe;
  --Colors-primary-blue-100: #cdfcff;
  --Colors-primary-blue-200: #a2f7ff;
  --Colors-primary-blue-300: #62f0fe;
  --Colors-primary-blue-400: #1bdef5;
  --Colors-primary-blue-500: #00c1db;
  --Colors-primary-blue-600: #029ab8;
  --Colors-primary-blue-700: #097b95;
  --Colors-primary-blue-800: #126378;
  --Colors-primary-blue-950: #063646;
  --Colors-primary-blue-principal-900: #11485a;
  --Colors-secondary-green-50: #f2ffe6;
  --Colors-secondary-green-100: #e1fec9;
  --Colors-secondary-green-300: #9ef85e;
  --Colors-secondary-green-400: #7bee2d;
  --Colors-secondary-green-500: #5bd40e;
  --Colors-secondary-green-600: #42aa06;
  --Colors-secondary-green-700: #34810a;
  --Colors-secondary-green-800: #2c660e;
  --Colors-secondary-green-900: #275611;
  --Colors-secondary-green-950: #103003;
  --Colors-secondary-green-principal-200: #c1fd93;
  --Colors-semantic-alert: #ee9e1e;
  --Colors-semantic-error: #e93828;
  --Colors-semantic-success: #008f5c;

  /* Text-size styles */
  /* base size: ubuntu--body--16-large-400 (16px) */
  --ubuntu--display--52-large-400: 3.25rem;
  --ubuntu--display--46-medium-400: 2.88rem;
  --ubuntu--display--36-small-400: 2.25rem;
  --ubuntu--headline--32-large-400: 2rem;
  --ubuntu--headline--29-medium-400: 1.81rem;
  --ubuntu--headline--29-medium-400: 1.44rem;
  --ubuntu--label--14-large-700: 0.88rem;
  --ubuntu--label--14-large-500: 0.88rem;
  --ubuntu--label--13-medium-700: 0.81rem;
  --ubuntu--label--13-medium-500: 0.81rem;
  --ubuntu--label--11-small-500: 0.69rem;
  --ubuntu--label--11-small-400: 0.69rem;
  --ubuntu--label--11-small-400-strike: 0.69rem;
  --ubuntu--body--13-small-400: 0.81rem;
  --ubuntu--label--13-medium-500: 0.88rem;
  --ubuntu--body--14-medium-400-strike: 0.88rem;
  --ubuntu--label--13-medium-500: 1rem;
  --ubuntu--body--18-xlarge-400: 1.12rem;
  --ubuntu--body--20-xxlarge-400: 1.25rem;
  --ubuntu--tittle--14-small-500: 0.88rem;
  --ubuntu--tittle--16-medium-500: 1rem;
  --ubuntu--tittle--16-medium-700: 1rem;
  --ubuntu--tittle--23-large-400: 1.44rem;
}

body {
  background-color: black;
}

/* -----------------------mission  vision start-------------- */

.mission-container,
.vision-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.vision-container {
  margin-bottom: 2rem;
}

.mission-img,
.vision-img {
  display: flex;
  justify-content: center;
}

.mission-img img,
.vision-img img {
  width: 100%;
  height: auto;
  border-radius: 25% 63% 62% 25% / 75% 69% 31% 25%;
}

.mission-text,
.vision-text {
  margin-top: 10%;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(355, 355, 355, 0.9);
  border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
  transition: 0.5s ease-in-out;
}

.mission-text:hover,
.vision-text:hover {
  border-radius: 50%;
}

.mission-title .vision-tittle {
  text-align: center;
  padding-top: 10px;
}

.mission-description,
.vision-description {
  font-size: var(--ubuntu--body--18-xlarge-400);
  line-height: 1.3;
  text-align: center;
  color: var(--Colors-primary-blue-950);
  font-size: 4vw;
}

.mission-description p,
.vision-description {
  padding: 10px 50px 65px 40px;
}

/* -------------mission end ---------------------- */

/* ------------ START mediaquery mision y visi칩n ------------------ */

/* Tablets y phablets
(min-width: 576px) and (max-width: 767px){ */
@media only screen and (min-width: 576px) {
  .mission-img,
  .vision-img {
    padding: 20px;
    padding: 0 30px 0 30px;
  }

  .mission-img img,
  .vision-img img {
    max-width: 700px;
  }
  .mission-text,
  .vision-text {
    min-height: 300px;
    margin-top: 10%;
  }

  .mission-description,
  .vision-description {
    font-size: 3vw;
  }
}
/* Escritorio peque침o / tablet
@media only screen and (min-width: 768px) and (max-width: 991px){ */
@media only screen and (min-width: 768px) {
  .vision-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    gap: 32px;
    padding: 32px;
  }

  .text-ltr {
    direction: ltr;
  }

  .mission-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 32px;
  }

  .mission-img,
  .vision-img {
    padding: 0 0 0 0;
  }

  .mission-text,
  .vision-text {
    min-height: 300px;
    margin: 0 auto 0 auto;
    align-content: center;
    max-width: 500px;
  }

  .mission-description,
  .vision-description {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }
}
/* ----------- END mediaquery mision y visi칩n -------------- */

/*--------------- values start------------------------ */

.scroll-container {
  display: flex;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: var(--Colors-neutral-white);
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 2rem;
}

.scroll-1 {
  display: flex;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}

.scroll-2 {
  display: flex;
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.value-card {
  position: relative;
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
}

.value-card-background {
  background: var(--Colors-primary-blue-principal-900);
  width: 148px;
  height: 204px;
  border-radius: 26px;
}

.value-card:hover {
  transform: scale(1.1);
}

.value-card-text {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  font-family: Ubuntu;
}

.value-card-title {
  position: relative;
  width: 80%;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: var(--Colors-secondary-green-principal-200);
  font-size: var(--ubuntu--body--18-xlarge-400);
}

.value-card-main-content {
  position: relative;
  width: 85%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Colors-neutral-white);
  font-size: var(--ubuntu--body--14-medium-400);
}

.value-card-description {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  visibility: hidden;
}

.value-card-main-content img {
  position: absolute;
  transform: translate(-50%, -55%);
  width: 100%;
  transition: opacity 0.5s;
}

.value-card-main-content img:hover {
  opacity: 0.1;
  transition: 0.5s;
}
/*---------- values end-----------*/

/* Inicio de cards */
h2 {
  align-self: stretch;
  color: var(--neutral-black, #010f14);
  text-align: center;
  font-size: var(--ubuntu--headline--32-large-400);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
}
/* Inicio de cards */
.container-cards {
  background: linear-gradient(0deg, rgba(17, 72, 90, 0.8) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(0deg, rgba(12, 53, 116, 0.50) 0%, rgba(12, 116, 22, 0.50) 29.5%, rgba(143, 19, 19, 0.50) 60.5%, rgba(63, 59, 59, 0.50) 84.5%, rgba(250, 254, 254, 0.60) 100%);
  width: 100%;
  height: 50%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-self: stretch;
  text-align: center;
}

.card {
  position: relative;
  width: 90%;
  height: 400px;
}

.card h3 {
  font-size: 2rem;
}

.card h4 {
  font-size: 1.3rem;
}

.card div {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 30px;
  overflow: hidden;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 1.5s;
}

.card .front {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(0deg);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.card .front .img {
  border: solid #f13607 5px;
  border-radius: 50%;
  width: unset;
  height: auto;
}

.element-card {
  padding-bottom: 10px;
}

/* back water */
.list-inline-water {
  padding-left: 0px;
}

.list-inline-water > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-water i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-water i:hover {
  font-size: 50px;
  color: #3a9dff;
}
.card .back-water {
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-water {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-water::before {
  content: "";
  background-image: conic-gradient(#3a9dff 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-water::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-water {
  border-radius: 50%;
  border: solid #3a9dff 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

/* back air */

.list-inline-air {
  padding-left: 0px;
}

.list-inline-air > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-air i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-air i:hover {
  font-size: 50px;
  color: #a2dfff;
}

.card .back-air {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-air {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-air::before {
  content: "";
  background-image: conic-gradient(#97c2da 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-air::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-air {
  border-radius: 50%;
  border: solid #a2dfff 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

.profile-img-air img {
  transform: scale(3);
}

/* back ea.back-earth */
.list-inline-earth {
  padding-left: 0px;
}

.list-inline-earth > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-earth i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-earth i:hover {
  font-size: 50px;
  color: #5db85d;
}
.card .back-earth {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-earth {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-earth::before {
  content: "";
  background-image: conic-gradient(#5db85d 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-earth::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-earth {
  border-radius: 50%;
  border: solid #5db85d 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

/* back fire */
.list-inline-fire {
  padding-left: 0px;
}

.list-inline-fire > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline-fire i {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}

.list-inline-fire i:hover {
  font-size: 50px;
  color: #f13607;
}

.card .back-fire {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  border-radius: var(--Gap-gap-9, 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back-fire {
  transform: perspective(500px) rotateY(360deg);
}

.card .back-fire::before {
  content: "";
  background-image: conic-gradient(#f13607 20deg, transparent 120deg);
  position: absolute;
  width: 700px;
  height: 700px;
  animation: rotate 2.5s linear infinite;
  z-index: -1;
}

.card .back-fire::after {
  content: "";
  position: absolute;
  background-color: var(--Colors-neutral-white);
  background-size: cover;
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  z-index: -1;
}

.profile-img-fire {
  border-radius: 50%;
  border: solid #f13607 5px;
  width: 200px;
  height: 220px;
  margin-bottom: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* fin cards */

.container-intro-about {
  width: 100%;
  height: auto;
}

.container-intro-about p {
  margin: 40px 20px;
  padding: 0 20px;
  font-size: var(--ubuntu--body--18-xlarge-400);
  text-align: center;
}

.about-us-banner {
  position: relative;
  display: flex;
  align-content: center;
  text-align: center;
}

.about-us-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-weight: 700;
  font-size: var(--ubuntu--headline--23-small-400);
  margin: 0;
  color: var(--Colors-neutral-white);
}

.about-us-banner img {
  width: 100%;
  height: auto;
}

.team-work {
  display: flex;
  flex-direction: column;
}

.team-work img {
  width: 100%;
  max-width: 826px;
  margin: auto;
  padding: 0 40px;
}

.team-work p {
  padding: 0 20px;
  font-size: var(--ubuntu--headline--23-small-400);
  font-weight: 700;
  font-style: italic;
}

/** MEDIA QUERIES */
/* ------------ START mediaquery values ------------------ */
/* Escritorio peque침o / tablet
@media only screen and (min-width: 768px) and (max-width: 991px){ */

@media only screen and (min-width: 480px) {
  /* Inicio de cards */
  .container-cards {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    align-self: stretch;
    text-align: center;
  }

  .card {
    width: 90%;
  }

  .card h3 {
    font-size: 2.3rem;
  }

  .card h4 {
    font-size: 1.6rem;
  }

  .profile-description{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* Tablets y phablets
(min-width: 576px) and (max-width: 767px){ */
@media only screen and (min-width: 576px) {
  .card {
    width: 90%;
  }

  .scroll-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .value-card-background {
    width: 218px;
    height: 274px;
  }
  .value-card-title {
    font-size: var(--ubuntu--headline--23-small-400);
  }

  .value-card-main-content {
    font-size: var(--ubuntu--body--20-xxlarge-400);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scroll-container {
    margin-left: 32px;
    margin-right: 32px;
  }
  .container-intro-about p {
    font-size: var(--ubuntu--headline--29-medium-400);
  }

  .about-us-banner h2 {
    font-size: var(--ubuntu--display--46-medium-400);
  }

  .team-work p {
    font-size: var(--ubuntu--display--36-small-400);
  }

  /* Styles FAQs */
  .container-info-faq{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .faq-tittle{
    width: 100%;
  }

  .img-faqs,
  .description-faqs{
    width: 50%;
  }
  .container-info-faq h2{
    width: 50%;
  }

  #search-form{
    width: 40%;
    margin: 0;
    /* order: 1; */
  } 

  .description-faqs{
    order: 3;
  }

  .img-faqs{
    order: 2;
  }

  #faq-section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (min-width: 980px) {
  .card {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 22%;
  }

  .container-cards {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card h3 {
    font-size: 1.3rem;
  }

  .card h4 {
    font-size: 1rem;
  }

  .profile-description{
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .about-us-banner h2 {
    font-size: var(--ubuntu--display--52-large-400);
  }

  .container-intro-about p {
    font-size: var(--ubuntu--headline--32-large-400);
  }

  .team-work p {
    font-size: var(--ubuntu--display--46-medium-400);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* ------------ END mediaquery values ------------------ */

/* final de cards */
