<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/header');%>
  </head>
  <body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <!-- Start - Intro About us, qué hacemos, quienes somos -->
      <div class="container-intro-about">
        <div class="about-us-banner">
          <img src="img/about-us_img/about-us-banner.webp" alt="Imagen trabajo en equipo" />
          <h2>Sobre nosotros</h2>
        </div>
        <p class="who-we-are">
          Somos una plataforma de comercio electrónico confiable para la compra
          y venta de productos electrónicos usados, promoviendo la
          sostenibilidad y la reducción de residuos.
        </p>
        <div class="team-work">
          <img
            src="/img/about-us_img/hero_img/image-about-intro.svg"
            alt="Imagen trabajo en equipo"
          />
          <p class="slogan">“Revive, Reuse, Reimagine”</p>
        </div>
      </div>
      <!-- End - Intro About us, qué hacemos, quienes somos -->
      <!-- mission and vision start-->
      <div class="mission-container">
        <div class="mission-img">
          <img src="/img/about-us_img/m&v_img/mission.webp" alt="mission" />
        </div>
        <div class="mission-text">
          <h2 class="mission-title">Misión</h2>
          <div class="mission-description">
            <p>
              En TechRevamp, facilitamos la compra y venta segura de productos
              electrónicos usados, asegurando su calidad y funcionalidad.
              <br />
              Promovemos la reducción de residuos electrónicos, aportando a un
              futuro más responsable y ecológico.
            </p>
          </div>
        </div>
      </div>
      <div class="vision-container">
        <div class="vision-img">
          <img src="/img/about-us_img/m&v_img/vision.webp" alt="vision" />
        </div>
        <div class="vision-text">
          <h2 class="vision-title">Visión</h2>
          <div class="vision-description">
            <p class="text-ltr">
              Ser la plataforma líder en productos tecnológicos de segunda mano,
              destacada por su integridad y seguridad. <br />
              Queremos ser la primera opción para quienes buscan dispositivos
              asequibles y funcionales, contribuyendo a la sostenibilidad
              ambiental al dar una segunda vida a estos productos.
            </p>
          </div>
        </div>
      </div>
      <!-- mission and vision end-->
      <!-- valores -->
      <h2>Nuestros valores</h2>
      <div class="scroll-container" style="--t: 120s">
        <div class="scroll-1">
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Confianza</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Garantizamos transacciones seguras y productos de calidad.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/reliability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Accesibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Llevamos la tecnología al alcance de todos.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/affordability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Sostenibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Promovemos la reutilización para reducir el desperdicio
                  electrónico.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/sustainability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Compromiso</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Ofrecemos un servicio excepcional, atendiendo sus solicitudes
                  eficazmente.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/commitment.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Diversidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Valoramos la riqueza de las diferencias en un ambiente
                  respetuoso y tolerante.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/diversity.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Colaboración</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Trabajamos juntos, asegurando que cada miembro del equipo sea
                  parte del éxito colectivo.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/teamwork.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Confianza</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Garantizamos transacciones seguras y productos de calidad.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/reliability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Accesibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Llevamos la tecnología al alcance de todos.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/affordability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Sostenibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Promovemos la reutilización para reducir el desperdicio
                  electrónico.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/sustainability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Compromiso</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Ofrecemos un servicio excepcional, atendiendo sus solicitudes
                  eficazmente.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/commitment.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Diversidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Valoramos la riqueza de las diferencias en un ambiente
                  respetuoso y tolerante.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/diversity.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Colaboración</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Trabajamos juntos, asegurando que cada miembro del equipo sea
                  parte del éxito colectivo.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/teamwork.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
        </div>
        <div class="scroll-2">
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Confianza</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Garantizamos transacciones seguras y productos de calidad.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/reliability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Accesibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Llevamos la tecnología al alcance de todos.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/affordability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Sostenibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Promovemos la reutilización para reducir el desperdicio
                  electrónico.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/sustainability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Compromiso</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Ofrecemos un servicio excepcional, atendiendo sus solicitudes
                  eficazmente.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/commitment.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Diversidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Valoramos la riqueza de las diferencias en un ambiente
                  respetuoso y tolerante.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/diversity.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Colaboración</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Trabajamos juntos, asegurando que cada miembro del equipo sea
                  parte del éxito colectivo.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/teamwork.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Confianza</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Garantizamos transacciones seguras y productos de calidad.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/reliability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Accesibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Llevamos la tecnología al alcance de todos.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/affordability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Sostenibilidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Promovemos la reutilización para reducir el desperdicio
                  electrónico.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/sustainability.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Compromiso</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Ofrecemos un servicio excepcional, atendiendo sus solicitudes
                  eficazmente.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/commitment.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Diversidad</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Valoramos la riqueza de las diferencias en un ambiente
                  respetuoso y tolerante.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/diversity.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
          <div class="value-card">
            <div class="value-card-text">
              <div class="value-card-title">Colaboración</div>
              <div class="value-card-main-content">
                <div class="value-card-description">
                  Trabajamos juntos, asegurando que cada miembro del equipo sea
                  parte del éxito colectivo.
                </div>
                <img class= "valuesimg" src="/img/about-us_img/values_img/teamwork.png" />
              </div>
            </div>
            <div class="value-card-background"></div>
          </div>
        </div>
        </div>
      </div>
      <!-- fin valores -->
      <!-- card -->
      <h2>Conoce nuestro equipo</h2>
      <section class="container-cards">
                <!-- card-water -->
        <div class="card-member">
          <div class="front">
            <img class="profile-img-water" src="/img/about-us_img/team_img/gaby_perfil-water.webp" alt="imagen de perfil" width="200px" height="200px">
              <h3 class="member-name">Gabriela Rojas</h3>
              <h4 class="role">Desarrolladora Fullstack <br> Diseñadora UX/UI </h4>
          </div>
          <div class="back-water">
            <img class="element-card" src="/img/about-us_img/team_img/agua.svg" alt="elemente de agua" width="100px" height="100px">
            <p class="profile-description">
              Profesional curiosa, creativa y apasionada por el desarrollo full-stack y el diseño UX/UI. Enfocada en crear soluciones funcionales y accesibles.
            </p>
            <ul class="list-inline-water">
              <li>
                <a href="https://github.com/gavrojas" target="_blank">
                  <i class="fa-brands fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/gavrojas-dev/" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa-brands fa-twitter-square"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="card-member">
          <div class="front">
            <img class="profile-img-earth" src="/img/about-us_img/team_img/Nicole.webp" alt="imagen de perfil" width="200px" height="200px">
              <h3 class="member-name">Nicole Rojas</h3>
              <h4 class="role">Desarrolladora Fullstack</h4>
          </div>
          <div class="back-earth">
            <img class="element-card" src="/img/about-us_img/team_img/tierra.svg" alt="elemente de tierra" width="100px" height="100px">
            <p class="profile-description">
              Comprometida con la excelencia, aporto mi creatividad para desarrollar aplicaciones web eficientes y brindar experiencias de usuario amigables.
            </p>
            <ul class="list-inline-earth">
              <li>
                <a href="https://github.com/NikkiDev97" target="_blank">
                  <i class="fa-brands fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/nicole-rojas-java-developer/" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa-brands fa-twitter-square"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="card-member">
          <div class="front">
            <img class="profile-img-air" src="/img/about-us_img/team_img/artu_perfil.webp" alt="imagen de perfil" width="200px" height="200px">
              <h3 class="member-name">Arturo Navas</h3>
              <h4 class="role">Desarrollador Backend</h4>
          </div>
          <div class="back-air">
            <img class="element-card" src="/img/about-us_img/team_img/aire.svg" alt="elemente de aire" width="100px" height="100px">
            <p class="profile-description">
              Estudiante apasionado por el backend con experiencia en Java, SQL y Spring Boot. Competente en crear APIs robustas y gestionar bases de datos.            </p>
            <ul class="list-inline-air">
              <li>
                <a href="https://github.com/arturonavas" target="_blank">
                  <i class="fa-brands fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/arturonavas-dev/" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa-brands fa-twitter-square"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
        <!-- card fire -->
        <div class="card-member">
          <div class="front">
            <img class="profile-img-fire" src="/img/about-us_img/team_img/gio_perfil.webp" alt="imagen de perfil" width="200px" height="200px">
              <h3 class="member-name">Giovanny Salcedo</h3>
              <h4 class="role">Desarrollador Fullstack</h4>
          </div>
          <div class="back-fire">
            <img class="element-card" src="/img/about-us_img/team_img/fuego.svg" alt="elemente de aire" width="100px" height="100px">
            <p class="profile-description">
              Poseo experiencia en Ruby, Java, Ruby on Rails, HTML, CSS y JavaScript. Enfocado en UX y resultados, usando metodologías ágiles y herramientas como Trello y JIRA.
            </p>
            <ul class="list-inline-fire">
              <li>
                <a href="https://github.com/GioSalcedo" target="_blank">
                  <i class="fa-brands fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/giosalcedo/" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#">
                  <i class="fa-brands fa-twitter-square"></i>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </section>
      <!--fin cards -->
    </main>
    <!-- Start footer -->
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <!-- End footer -->
    <script src="/../js/values.js"></script>
  </body>
</html>
