<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/header');%>
  </head>

  <body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <div class="contact-container">
        <div class="contact-form-container">
          <h2>Contáctanos</h2>
          <p>Un miembro de nuestro equipo se pondrá en contacto contigo pronto.</p>
          <form class="contact-form">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico">
            
            <label for="firstName">Nombre</label>
            <input type="text" id="firstName" name="firstName" placeholder="Ingresa tu nombre">
            
            <label for="phone">Número de teléfono</label>
            <input type="tel" id="phone" name="phone" placeholder="Ingresa tu número de teléfono">
            
            <label for="topic">Elige un tema</label>
            <select id="topic" name="topic">
                <option value="">Selecciona un tema</option>
                <option value="soporte">Soporte</option>
                <option value="ventas">Ventas</option>
                <option value="otros">Otros</option>
            </select>
            
            <label for="message">¿Cómo podemos ayudarte?</label>
            <textarea id="message" name="message"  placeholder="Ingresa un breve mensaje contándonos qué necesitas"></textarea>
            
            <button type="submit">Enviar</button>
            </form>
            <p>Al hacer clic en "Enviar" aceptas nuestros <a href="#">Términos de servicio</a> y <a href="#">Política de privacidad</a>.</p>
        </div>
        <div class="contact-image">
          <img src="/img/forms_img/contact-us-showcase.png" alt="img placeholder">
        </div>
      </div>
    </main>
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <script src="/assets/js/form.js"></script>
  </body>
</html>