<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <!-- banner1 -->
      <div class="banner">
        <a href="/productos"><img id="bannerImg" src="/img/home/banner1.gif" alt="Banner Image"></a>
        <!-- <a href="#" class="banner-button">Ver Productos</a> -->
      </div>
      <div class="text-container">
        <h1>Conoce nuestros productos destacados:</h1>
        <a class="downB"><i class="fa-solid fa-angles-down"></i></a>
      </div>
      <!-- carousel -->
      <div class="carousel" id="carousel">
        <div class="list">
          <div class="item">
            <img src="/img/home/img5.webp">
            <div class="intro">
              <div class="title">
                LO ÚLTIMO
              </div>
              <div class="topic">
                Product 1
              </div>
              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quis provident fugiat animi? Ut perferendis laboriosam molestias quaerat quibusdam? Quaerat reiciendis dignissimos illum doloribus possimus nam sunt omnis perferendis voluptatem?
              </div>
              <a href="#">
                <button class="seeMore">
                  Ver más &#8599
                </button>
              </a>              
            </div>
          </div>
          <div class="item">
            <img src="/img/home/img1.webp">
            <div class="intro">
              <div class="title">
                COMODIDAD Y ESTILO
              </div>
              <div class="topic">
                Product 2
              </div>
              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quis provident fugiat animi? Ut perferendis laboriosam molestias quaerat quibusdam? Quaerat reiciendis dignissimos illum doloribus possimus nam sunt omnis perferendis voluptatem?
              </div>
              <a href="#">
                <button class="seeMore">
                  Ver más &#8599
                </button>
              </a>              
            </div>
          </div>
          <div class="item">
            <img src="/img/home/img2.webp">
            <div class="intro">
              <div class="title">
                AHORRO ÚNICO
              </div>
              <div class="topic">
                Product 3
              </div>
              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quis provident fugiat animi? Ut perferendis laboriosam molestias quaerat quibusdam? Quaerat reiciendis dignissimos illum doloribus possimus nam sunt omnis perferendis voluptatem?
              </div>
              <a href="#">
                <button class="seeMore">
                  Ver más &#8599
                </button>
              </a>              
            </div>
          </div>
          <div class="item">
            <img src="/img/home/img3.webp">
            <div class="intro">
              <div class="title">
                TENDENCIA
              </div>
              <div class="topic">
                Product 4
              </div>
              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quis provident fugiat animi? Ut perferendis laboriosam molestias quaerat quibusdam? Quaerat reiciendis dignissimos illum doloribus possimus nam sunt omnis perferendis voluptatem?
              </div>
              <a href="#">
                <button class="seeMore">
                  Ver más &#8599
                </button>
              </a>              
            </div>
          </div>
          <div class="item">
            <img src="/img/home/img4.webp">
            <div class="intro">
              <div class="title">
                EXCLUSIVO
              </div>
              <div class="topic">
                Product 5
              </div>
              <div class="description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quis provident fugiat animi? Ut perferendis laboriosam molestias quaerat quibusdam? Quaerat reiciendis dignissimos illum doloribus possimus nam sunt omnis perferendis voluptatem?
              </div>
              <a href="#">
                <button class="seeMore">
                  Ver más &#8599
                </button>
              </a>              
            </div>
          </div>
        </div>
        <div class="arrows">
          <button id="prev"><</button>
          <button id="next">></button>
        </div>
      </div>
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <script src="../js/home.js"></script>
  </body>
</html>

