<%- include('partials/header')%>
  <body>
    <header>
      <nav>
        <div id="navbar">
        </div>
      </nav>
    </header>
    <main>
      <h1>TechRevamp</h1>
    </main>
    <footer></footer>
    <script src="app.js"></script>
  </body>
</html>
