<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <h1>TechRevamp</h1>
    </main>
    <%- include('partials/footer');%>
    <script src="app.js"></script>
  </body>
</html>
