<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/header');%>
  </head>
  <body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
        
    </main>

    <!-- Start footer -->
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <!-- End footer -->
    <script src="/../js/login.js"></script>
  </body>
</html>    