<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
  <header>
    <%- include('partials/navbar');%>
  </header>
      <h2 class="title-recommendation">Hello, ‘Username’</h2>
      <p>We have some recommendations for you</p>
      <button class="button-recommendation">Sólo para ti</button>
      <a class="button-recommendation" href="#">Ver Todo</a>
      <div class="galery-recommendation">

      </div>
            
      <%- include('partials/footer');%>
    <script src="app.js"></script>
  </body>
</html>
