<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
</head>
<body>
  <header>
    <%- include('partials/navbar');%>
  </header>
      <h2 class="title-recommendation">Hello, ‘Username’</h2>
      <p>Tenemos algunas recomendaciones para usted</p>
      <div class="d-flex">
        <button class="button-recommendation">Sólo para ti</button>
        <a class="button-recommendation" href="#">Ver Todo</a>
      </div>

      <h3>Ofertas</h3>
      <div class="galery-recommendation">
        <img src="../img/products/recommendation_photo.png" alt="Imagen de producto">
        <div>
          <h3>Nombre de producto</h3>
          <p>precio_1</p>
          <p>precio_2</p>
          <a href="">Link de producto</a>
          <button>agregar al carrito</button>
        </div>
      </div>
      <section class="galery-products">
        <div class="card-product">
          <img src="../img/products/recommendation_photo.png" alt="Imagen de producto">
          <div>
            <h3>Nombre de producto</h3>
            <p>precio_1</p>
            <p>precio_2</p>
            <a href="">Link de producto</a>
            <button>agregar al carrito</button>
          </div>
        </div>
      </section>

      <div class="arrow_button mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 50 50" fill="none">
          <path d="M25 42C15.6 42 8 34.4 8 25C8 15.6 15.6 8 25 8C34.4 8 42 15.6 42 25C42 34.4 34.4 42 25 42ZM25 10C16.7 10 10 16.7 10 25C10 33.3 16.7 40 25 40C33.3 40 40 33.3 40 25C40 16.7 33.3 10 25 10Z" fill="#979797"/>
          <path d="M25 34.4L15.3 24.7L16.7 23.3L25 31.6L33.3 23.3L34.7001 24.7L25 34.4Z" fill="#979797"/>
          <path d="M24 16H26V33H24V16Z" fill="#979797"/>
        </svg>
      </div>

      <section class="container-categories mx-2 mt-2">
        <div class="d-flex justify-content-between mx-2">
          <p>Categorías</p>
          <a href="#">Ver Todo</a>
        </div>
        <div class="mx-2 mb-4 d-flex justify-content-between">
          <button class="p-3 rounded btn btn-light border border-black shadow">Teléfonos</button>
          <button class="p-3 rounded btn btn-light border border-black shadow">Portátiles</button>
          <button class="p-3 rounded btn btn-light border border-black shadow">Tablets</button>
          <button class="p-3 rounded btn btn-light border border-black shadow">Consolas</button>
        </div>
      </section>

      <%- include('partials/footer');%>
      <%- include('partials/scripts');%>
  </body>
</html>
 