<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
  <header>
    <%- include('partials/navbar');%>
  </header>
      <h2 class="title-recommendation">Hello, ‘Username’</h2>
      <p>We have some recommendations for you</p>
      <button class="button-recommendation">Sólo para ti</button>
      <a class="button-recommendation" href="#">Ver Todo</a>

      <div class="galery-recommendation">
        <img src="../img/products/recommendation_photo.png" alt="Imagen de producto">
        <div>
          <h3>Nombre de producto</h3>
          <p>precio_1</p>
          <p>precio_2</p>
          <a href="">Link de producto</a>
          <button>agregar al carrito</button>
        </div>
      </div>
      <section class="galery-products">
        <div class="card-product">
          <img src="../img/products/recommendation_photo.png" alt="Imagen de producto">
          <div>
            <h3>Nombre de producto</h3>
            <p>precio_1</p>
            <p>precio_2</p>
            <a href="">Link de producto</a>
            <button>agregar al carrito</button>
          </div>
        </div>
      </section>    
      <button>Flecha hacia abajo</button>
      <section class="my-3 mx-auto py-2 grid bg-primary gap-3 justify-content-center">
        <button class="p-2">Categorie_1</button>
        <button class="p-2">Categorie_1</button>
        <button class="p-2">Categorie_1</button>
        <button class="p-2">Categorie_1</button>
      </section>
      <%- include('partials/footer');%>
    <script src="app.js"></script>
  </body>
</html>
