<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/header');%>
  </head>
  <body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <div class="container">
        <h2>Create your Profile</h2>
        <div class="form-actions">
          <button>Continue with <img src="google-icon.png" alt="Google" /></button>
          <button>Continue with <img src="facebook-icon.png" alt="Facebook" /></button>
        </div>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="e.g Phanindra Kodnru" />
          </div>
          <div class="form-group">
            <label for="email">Gmail</label>
            <input type="email" id="email" name="email" placeholder="phanikondru@gmail.com" />
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" placeholder="+57 300 000000" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div>
              <input type="password" id="password" name="password" placeholder="Password" />
              <img class="password-toggle" src="eye-icon.png" alt="Toggle Password" />
            </div>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <div>
              <select id="dob-day" name="dob-day">
                <option value="">Day</option>
                <!-- Add options for days here -->
              </select>
              <select id="dob-month" name="dob-month">
                <option value="">Month</option>
                <!-- Add options for months here -->
              </select>
              <select id="dob-year" name="dob-year">
                <option value="">Year</option>
                <!-- Add options for years here -->
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="profile-picture">Profile Picture</label>
            <input type="file" id="profile-picture" name="profile-picture" />
          </div>
          <div class="form-actions">
            <button type="submit">Create Profile</button>
          </div>
        </form>
      </div>
    </main>

    <!-- Start footer -->
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <!-- End footer -->
    <script src="/../js/register.js"></script>
  </body>
</html>
