<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/header');%>
</head>
<body>
    <header>
      <%- include('partials/navbar');%>
    </header>
    <main>
      <h1>Agregar productos por consola</h1>
      <br>
      <p>Por favor visualiza la consola en herramienta de desarrollador</p>
      <br>
      <a href="/admin/nuevos-productos">Click para agregar productos por formulario</a>
    </main>
    <%- include('partials/footer');%>
    <%- include('partials/scripts');%>
    <script src="/../js/products.js"></script>
  </body>
</html>
