<div class="header-botton-recomendation">
  <p>Sólo para ti</p>
  <a href="#">Ver Todo</a>
</div>
<div class="card-container-recommendation">
  <% productos.forEach(function(producto) { %> <% if (producto &&
  producto.nombre) { %>
  <!-- <%- include('partials/card-recommendation', { producto: producto }); %> -->
  <% } %> <% }); %>
</div>
<h3>Ofertas</h3>
<section class="galery-products">
  <div class="container-products" id="container-products">
    <% productos.forEach(function(producto) { %> <% if (producto &&
    producto.nombre) { %> <%- include('partials/card-product', { producto:
    producto }); %> <% } %> <% }); %>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    <div class="buttons-segmentation" id="buttons-segmentation">
      <% if (pagina > 1) { %>
      <a href="/productos?pagina=<%= pagina - 1 %>">Anterior</a>
      <% } %> <% if (pagina < totalPaginas) { %>
      <a href="/productos?pagina=<%= pagina + 1 %>">Siguiente</a>
      <% } %>
    </div>
  </div>
</section>

<div class="producto">
  <h2><%= producto.nombre %></h2>
  <p><%= producto.descripcion %></p>
  <p>Precio: $<%= producto.precio %></p>
  <p>Categoría: <%= producto.categoria %></p>
  <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" />
</div>

// const pagina = parseInt(req.query.pagina) || 1; // const productosPorPagina =
parseInt(req.query.productosPorPagina) || 4; // const totalProductos =
productos.productos.length; // const totalPaginas = Math.ceil(totalProductos /
productosPorPagina); // const inicio = (pagina - 1) * productosPorPagina; //
const fin = inicio + productosPorPagina; // const productosPaginados =
productos.productos.slice(inicio, fin); // if (req.xhr) { // Si la solicitud es
AJAX // res.json({ // productos: productosPaginados, // pagina: pagina, //
totalPaginas: totalPaginas // }); // } else { // Si es una solicitud normal //
res.render("products", { // productos: productosPaginados, // pagina: pagina, //
totalPaginas: totalPaginas, // productosPorPagina: productosPorPagina // }); //
}


const file = fs.readFileSync('api/products.json', 'UTF-8');
  const json = JSON.parse(file);
  const productos = json.productos;
  
  const page = parseInt(req.query.page) || 1;
  const perPage = 4;
  
  const start = (page - 1) * perPage;
  const end = start + perPage;
  
  const paginatedProducts = productos.slice(start, end);
  
  const totalPages = Math.ceil(productos.length / perPage);
  
  res.render('products', { productos: paginatedProducts, page, totalPages });