<a href="#navsuperior" id="scrollToTopButton" class="scroll-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
    <path d="M25 8C34.4 8 42 15.6 42 25C42 34.4 34.4 42 25 42C15.6 42 8 34.4 8 25C8 15.6 15.6 8 25 8ZM25 40C33.3 40 40 33.3 40 25C40 16.7 33.3 10 25 10C16.7 10 10 16.7 10 25C10 33.3 16.7 40 25 40Z" fill="#FAFEFE"/>
    <path d="M25 15.6L34.7 25.3L33.3 26.7L25 18.4L16.7 26.7L15.3 25.3L25 15.6Z" fill="#FAFEFE"/>
    <path d="M26 34H24L24 17H26L26 34Z" fill="#FAFEFE"/>
  </svg>
</a>
