<div class="container-recommendation">
  <div class="galery-recommendation">
    <% productos.slice(0, 3).forEach(producto => { %> <%-
    include('card-recommendation', { producto: producto }); %> <%
    }); %>
  </div>
  <ul class="docks">
    <li class="dock">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <circle
          cx="8"
          cy="8"
          r="7.73333"
          fill="#D9D9D9"
          stroke="#097B95"
          stroke-width="0.533333"
        />
      </svg>
    </li>
    <li class="dock">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <circle
          cx="8"
          cy="8"
          r="7.73333"
          fill="#D9D9D9"
          stroke="#097B95"
          stroke-width="0.533333"
        />
      </svg>
    </li>
    <li class="dock">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <circle
          cx="8"
          cy="8"
          r="7.73333"
          fill="#D9D9D9"
          stroke="#097B95"
          stroke-width="0.533333"
        />
      </svg>
    </li>
  </ul>
</div>