<section class="container-categories mx-auto my-2 gap-2">
  <div class="d-flex justify-content-between mx-2">
    <p>Categorías</p>
    <a class="link-categories" href="#container-products">Ver todo</a>
  </div>
  <div class="container d-flex justify-content-between gap-1" id="bigContainerCategories">
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3" >
      <div id="imgCategoryContainer"> <img src="/img/products/mobile phone.png"></div>
      <div id="categoryText"><a>
        Celulares
      </a></div>
    </div>
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      <div id="imgCategoryContainer"> <img src="/img/products/headphones.png"></div>
      <div id="categoryText"><a>
        Auriculares
      </a></div>
    </div>
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      <div id="imgCategoryContainer"> <img src="/img/products/earbuds.png"></div>
      <div id="categoryText"><a>
        Audifonos In-Ear
      </a></div>
    </div>
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      <div id="imgCategoryContainer"> <img src="/img/products/laptop.png"></div>
      <div id="categoryText"><a>
        Laptops
      </a></div>
    </div>
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      <div id="imgCategoryContainer"> <img src="/img/products/monitor.png"></div>
      <div id="categoryText"><a>
        Monitores
      </a></div>
    </div>
    <div id="categoryContainer"  class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3" >
      <div id="imgCategoryContainer"> <img src="/img/products/smartwatches.png"></div>
      <div id="categoryText"><a>
        Relojes inteligentes
      </a></div>
    </div>
  </div>
</section>
