<section class="container-categories mx-auto my-2 gap-2">
  <div class="d-flex justify-content-between mx-2">
    <p>Categorías</p>
    <a class="link-categories" href="#container-products">Ver todo</a>
  </div>
  <div class="container d-flex justify-content-between gap-1">
    <a class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      Teléfonos
    </a>
    <a class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      Portátiles
    </a>
    <a class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      Tablets
    </a>
    <a class="category-link text-decoration-none text-black text-center p-2 p-md-4 rounded border border-black shadow w-100 w-sm-50 w-md-25 fs-6 fs-sm-4 fs-md-3">
      Consolas
    </a>
  </div>
</section>
