<section class="container-categories mx-2 mt-2">
  <div class="d-flex justify-content-between mx-2">
    <p>Categorías</p>
    <a href="#">Ver Todo</a>
  </div>
  <div class="container mb-4 d-flex gap-1">
    <button class="fs-4 p-3 rounded btn btn-light border border-black shadow mx-md-auto fs-md-3 fs-lg-4">
      Teléfonos
    </button>
    <button class="fs-4 p-3 rounded btn btn-light border border-black shadow mx-md-auto fs-md-3 fs-lg-4">
      Portátiles
    </button>
    <button class="fs-4 p-3 rounded btn btn-light border border-black shadow mx-md-auto fs-md-3 fs-lg-4">
      Tablets
    </button>
    <button class="fs-4 p-3 rounded btn btn-light border border-black shadow mx-md-auto fs-md-3 fs-lg-4">
      Consolas
    </button>
  </div>
</section>