<!-- container-home-products.ejs -->
<% if (productos && productos.length > 0) { %>
  <% productos.forEach(producto => { %> 
    <%- include('shopping-product', { producto: producto }); %> 
  <% }); %>
<% } else { %>
  <p>No hay productos disponibles.</p>
<% } %>