<div class="header-recommendation" id="productRecomendations">
  <h1>Hola, <%= userName %></h1>
  <p>Explora todos los productos que tenemos para ti</p>
  <!-- <div class="buttom-recommendation">
    <p>¡Sólo para Ti!</p>
    <a class="link-recommendation" href="#container-products">Ver todo</a>
  </div> -->
</div>