<div class="header-recommendation">
  <h2>Hola, <%= userName %></h2>
  <p>Tenemos algunas recomendaciones para usted</p>
  <div class="buttom-recommendation">
    <p>¡Sólo para Ti!</p>
    <a class="link-recommendation" href="#container-products">Ver todo</a>
  </div>
</div>