<div class="item">
  <img src="<%= producto.image %>" alt="Imagen de producto" />
  <div class="intro">
    <div class="title">
      <%= producto.tittle %>
    </div>
    <div class="topic">
      <%= producto.name %>
    </div>
    <div class="description">
      <%= producto.description %>
    </div>
    <a href="/productos">
      <button class="seeMore">
        Ver más &#8599
      </button>
    </a>              
  </div>
</div>