<div class="item">
  <img src="<%= producto.imagen %>" alt="Imagen de producto" />
  <div class="intro">
    <div class="title">
      LO ÚLTIMO
    </div>
    <div class="topic">
      <%= producto.nombre %>
    </div>
    <div class="description">
      <%= producto.descripcion %>
    </div>
    <a href="#">
      <button class="seeMore">
        Ver más &#8599
      </button>
    </a>              
  </div>
</div>