<nav class="navbar-blue">
  <div id="navsuperior">
    <a href="/"><img class="logo" src="/img/logo-techrevamp.png" /></a>
    <div class="searchbar-hiddenonphone">
      <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
          <path
            d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
            fill="#11485A" />
        </svg></i></button>
    </div>
    <div class="icons">
      <div class="cart">
        <a href="/carrito"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25"
            fill="#FAFEFE">
            <path
              d="M13.4319 9.64286C14.1035 9.64286 14.653 9.12857 14.653 8.5V6.21429H17.0952C17.7668 6.21429 18.3162 5.7 18.3162 5.07143C18.3162 4.44286 17.7668 3.92857 17.0952 3.92857H14.653V1.64286C14.653 1.01429 14.1035 0.5 13.4319 0.5C12.7603 0.5 12.2108 1.01429 12.2108 1.64286V3.92857H9.76866C9.09706 3.92857 8.54758 4.44286 8.54758 5.07143C8.54758 5.7 9.09706 6.21429 9.76866 6.21429H12.2108V8.5C12.2108 9.12857 12.7603 9.64286 13.4319 9.64286ZM7.32649 19.9286C5.9833 19.9286 4.89654 20.9571 4.89654 22.2143C4.89654 23.4714 5.9833 24.5 7.32649 24.5C8.66969 24.5 9.76866 23.4714 9.76866 22.2143C9.76866 20.9571 8.66969 19.9286 7.32649 19.9286ZM19.5373 19.9286C18.1941 19.9286 17.1074 20.9571 17.1074 22.2143C17.1074 23.4714 18.1941 24.5 19.5373 24.5C20.8805 24.5 21.9795 23.4714 21.9795 22.2143C21.9795 20.9571 20.8805 19.9286 19.5373 19.9286ZM8.66969 14.2143H17.7668C18.6826 14.2143 19.4885 13.7457 19.9036 13.0371L23.86 6.02C24.1652 5.47143 23.9576 4.78571 23.3715 4.48857C22.7732 4.18 22.0283 4.39714 21.7108 4.95714L17.7668 11.9286H9.19475L3.99294 1.64286H1.22108C0.549487 1.64286 0 2.15714 0 2.78571C0 3.41429 0.549487 3.92857 1.22108 3.92857H2.44216L6.83806 12.6029L5.1896 15.3914C4.29821 16.9229 5.47045 18.7857 7.32649 18.7857H20.7584C21.43 18.7857 21.9795 18.2714 21.9795 17.6429C21.9795 17.0143 21.43 16.5 20.7584 16.5H7.32649L8.66969 14.2143Z" />
          </svg></a>
      </div>
      <div class="toggle" id="navbarToggle" onclick="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="#FAFEFE">
          <path
            d="M4 18.5H20C20.55 18.5 21 18.05 21 17.5C21 16.95 20.55 16.5 20 16.5H4C3.45 16.5 3 16.95 3 17.5C3 18.05 3.45 18.5 4 18.5ZM4 13.5H20C20.55 13.5 21 13.05 21 12.5C21 11.95 20.55 11.5 20 11.5H4C3.45 11.5 3 11.95 3 12.5C3 13.05 3.45 13.5 4 13.5ZM3 7.5C3 8.05 3.45 8.5 4 8.5H20C20.55 8.5 21 8.05 21 7.5C21 6.95 20.55 6.5 20 6.5H4C3.45 6.5 3 6.95 3 7.5Z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="searchbar">
    <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none">
        <path
          d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
          fill="#11485A" />
      </svg></i></button>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li><a href="/"><i class="fas fa-house"></i><span class="menu-text">Inicio</span></a></li>
      <li><a href="/productos"><i class="fa-brands fa-product-hunt"></i><span
            class="menu-text">Productos</span></a></li>
      <li><a href="/acerca-de-nosotros"><i class="fa-solid fa-circle-info"></i><span class="menu-text">Sobre
            Nosotros</span></a></li>
      <li><a href="/ayuda"><i class="fas fa-circle-question"></i><span class="menu-text">Ayuda</span></a></li>
      <li><a href="/cuenta"><i class="fas fa-user"></i><span class="menu-text">Cuenta</span></a></li>
      <li><a href="/cuenta"><i class="fas fa-sign-out-alt"></i><span class="menu-text">Salir</span></a></li>
    </ul>
  </div>
</nav>