<nav class="navbar-blue">
  <div id="navsuperior">
    <a href="/"><img class="logo" src="/img/logo-techrevamp.png" /></a>
    <div class="searchbar-hiddenonphone">
      <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
          <path
            d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
            fill="#11485A" />
        </svg></i></button>
    </div>
    <div class="icons">
      <div class="login-nav" id="loginIcon">
        <i><svg id="login-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FAFEFE">
          <g clip-path="url(#clip0_1656_808)">
            <path d="M23.8239 21.1783C22.3004 18.5045 19.9216 16.4211 17.0702 15.2636C18.4882 14.2001 19.5356 12.7175 20.0641 11.0257C20.5925 9.33388 20.5753 7.51868 20.0148 5.83721C19.4543 4.15574 18.379 2.69325 16.9411 1.65689C15.5033 0.620541 13.7758 0.0628662 12.0033 0.0628662C10.2309 0.0628662 8.50343 0.620541 7.06556 1.65689C5.6277 2.69325 4.55236 4.15574 3.99187 5.83721C3.43138 7.51868 3.41416 9.33388 3.94264 11.0257C4.47111 12.7175 5.51851 14.2001 6.93644 15.2636C4.08511 16.4211 1.70625 18.5045 0.182798 21.1783C0.0883997 21.3301 0.0254834 21.4993 -0.00221017 21.6759C-0.0299037 21.8525 -0.0218093 22.0328 0.0215921 22.2062C0.0649935 22.3796 0.142816 22.5425 0.250432 22.6852C0.358049 22.828 0.493263 22.9476 0.648035 23.037C0.802808 23.1264 0.97398 23.1838 1.15138 23.2058C1.32877 23.2277 1.50877 23.2138 1.68067 23.1648C1.85256 23.1158 2.01285 23.0327 2.15201 22.9205C2.29116 22.8083 2.40633 22.6693 2.49068 22.5117C4.50411 19.0315 8.05983 16.9559 12.0033 16.9559C15.9469 16.9559 19.5026 19.0326 21.516 22.5117C21.6988 22.8056 21.9887 23.0169 22.3245 23.101C22.6603 23.185 23.0156 23.1352 23.3153 22.9621C23.6151 22.7889 23.8357 22.506 23.9306 22.1731C24.0255 21.8402 23.9872 21.4835 23.8239 21.1783ZM6.2253 8.51103C6.2253 7.36824 6.56418 6.25112 7.19908 5.30092C7.83398 4.35073 8.73638 3.61014 9.79218 3.17282C10.848 2.73549 12.0098 2.62107 13.1306 2.84401C14.2514 3.06696 15.281 3.61727 16.089 4.42534C16.8971 5.23341 17.4474 6.26296 17.6704 7.38379C17.8933 8.50462 17.7789 9.6664 17.3416 10.7222C16.9042 11.778 16.1636 12.6804 15.2135 13.3153C14.2633 13.9502 13.1461 14.2891 12.0033 14.2891C10.4715 14.2873 9.00281 13.678 7.9196 12.5948C6.83639 11.5116 6.22706 10.0429 6.2253 8.51103Z"/>
          </g>
          <defs>
            <clipPath id="clip0_1656_808">
              <rect width="24" height="24" fill="white"/>
            </clipPath>
          </defs>
          </svg>
        </i> 
        <% if (userName) { %>
          <span class="login-user">¡Hola, <%= userName %>!</span>
          <svg id="session-arrow-svg" onclick="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path id="session-arrow" d="M7 9L12 14L17 9" stroke="#FAFEFE" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <div class="modal-account toggle">
            <a href="/">Ver perfil</a>
            <a id="logoutOption" href="#">Cerrar sesión</a>
          </div>
        <% } else { %>
          <a href="/iniciar-sesion"><span class="login-user">Iniciar Sesión</span></a>
        <% } %>  
      </div>
      <div class="cart">
        <a id="carroComprasLink" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25"
            fill="#FAFEFE">
            <path
              d="M13.4319 9.64286C14.1035 9.64286 14.653 9.12857 14.653 8.5V6.21429H17.0952C17.7668 6.21429 18.3162 5.7 18.3162 5.07143C18.3162 4.44286 17.7668 3.92857 17.0952 3.92857H14.653V1.64286C14.653 1.01429 14.1035 0.5 13.4319 0.5C12.7603 0.5 12.2108 1.01429 12.2108 1.64286V3.92857H9.76866C9.09706 3.92857 8.54758 4.44286 8.54758 5.07143C8.54758 5.7 9.09706 6.21429 9.76866 6.21429H12.2108V8.5C12.2108 9.12857 12.7603 9.64286 13.4319 9.64286ZM7.32649 19.9286C5.9833 19.9286 4.89654 20.9571 4.89654 22.2143C4.89654 23.4714 5.9833 24.5 7.32649 24.5C8.66969 24.5 9.76866 23.4714 9.76866 22.2143C9.76866 20.9571 8.66969 19.9286 7.32649 19.9286ZM19.5373 19.9286C18.1941 19.9286 17.1074 20.9571 17.1074 22.2143C17.1074 23.4714 18.1941 24.5 19.5373 24.5C20.8805 24.5 21.9795 23.4714 21.9795 22.2143C21.9795 20.9571 20.8805 19.9286 19.5373 19.9286ZM8.66969 14.2143H17.7668C18.6826 14.2143 19.4885 13.7457 19.9036 13.0371L23.86 6.02C24.1652 5.47143 23.9576 4.78571 23.3715 4.48857C22.7732 4.18 22.0283 4.39714 21.7108 4.95714L17.7668 11.9286H9.19475L3.99294 1.64286H1.22108C0.549487 1.64286 0 2.15714 0 2.78571C0 3.41429 0.549487 3.92857 1.22108 3.92857H2.44216L6.83806 12.6029L5.1896 15.3914C4.29821 16.9229 5.47045 18.7857 7.32649 18.7857H20.7584C21.43 18.7857 21.9795 18.2714 21.9795 17.6429C21.9795 17.0143 21.43 16.5 20.7584 16.5H7.32649L8.66969 14.2143Z" />
          </svg></a>
      </div>
      <div class="toggle" id="navbarToggle" onclick="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="FAFEFE">
          <path d="M1.25 20.5C0.559644 20.5 0 19.9404 0 19.25V19.25C0 18.5596 0.559644 18 1.25 18H22.75C23.4404 18 24 18.5596 24 19.25V19.25C24 19.9404 23.4404 20.5 22.75 20.5H1.25ZM1.25 13C0.559644 13 0 12.4404 0 11.75V11.75C0 11.0596 0.559644 10.5 1.25 10.5H22.75C23.4404 10.5 24 11.0596 24 11.75V11.75C24 12.4404 23.4404 13 22.75 13H1.25ZM1.25 5.5C0.559644 5.5 0 4.94036 0 4.25V4.25C0 3.55964 0.559644 3 1.25 3H22.75C23.4404 3 24 3.55964 24 4.25V4.25C24 4.94036 23.4404 5.5 22.75 5.5H1.25Z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="searchbar">
    <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none">
        <path
          d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
          fill="#11485A" />
      </svg></i></button>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li><a href="/productos"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2283)">
          <path d="M15.75 0.0234375L24 4.14844V13.3477L22.5 12.5977V5.82422L16.5 8.82422V11.8477L15 12.5977V8.82422L9 5.82422V8.48438L7.5 7.73438V4.14844L15.75 0.0234375ZM15.75 7.52344L17.8242 6.48047L12.3984 3.375L9.92578 4.61719L15.75 7.52344ZM19.4414 5.68359L21.5742 4.61719L15.75 1.69922L14.0039 2.57812L19.4414 5.68359ZM13.5 13.3477L12 14.0977V14.0859L7.5 16.3359V21.668L12 19.4062V21.0938L6.75 23.7188L0 20.332V12.4102L6.75 9.03516L13.5 12.4102V13.3477ZM6 21.668V16.3359L1.5 14.0859V19.4062L6 21.668ZM6.75 15.0352L11.0742 12.8789L6.75 10.7109L2.42578 12.8789L6.75 15.0352ZM13.5 15.0234L18.75 12.3984L24 15.0234V21.1992L18.75 23.8242L13.5 21.1992V15.0234ZM18 21.7734V18.1992L15 16.6992V20.2734L18 21.7734ZM22.5 20.2734V16.6992L19.5 18.1992V21.7734L22.5 20.2734ZM18.75 16.8984L21.5742 15.4805L18.75 14.0742L15.9258 15.4805L18.75 16.8984Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2283">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span
            class="menu-text">Nuestros productos</span></a></li>
      <li><a href="/servicio-reparacion"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1654_790)">
          <path d="M6.68546 18.375L9.87821 15.1823L8.81771 14.1218L5.62496 17.3145L5.03021 16.7198C4.88957 16.5792 4.69884 16.5002 4.49996 16.5002C4.30109 16.5002 4.11036 16.5792 3.96971 16.7198L0.969712 19.7198C0.829109 19.8604 0.750122 20.0511 0.750122 20.25C0.750122 20.4489 0.829109 20.6396 0.969712 20.7803L3.21971 23.0303C3.36036 23.1709 3.55109 23.2499 3.74996 23.2499C3.94884 23.2499 4.13957 23.1709 4.28021 23.0303L7.28021 20.0303C7.42082 19.8896 7.4998 19.6989 7.4998 19.5C7.4998 19.3011 7.42082 19.1104 7.28021 18.9698L6.68546 18.375ZM3.74996 21.4395L2.56046 20.25L4.49996 18.3105L5.68946 19.5L3.74996 21.4395Z" fill="#FAFEFE"/>
          <path d="M18.8572 24.0001C17.4937 23.9985 16.1865 23.4562 15.2224 22.492C14.2582 21.5279 13.7159 20.2207 13.7143 18.8572C13.7143 18.4091 13.7748 17.9631 13.8943 17.5312L6.46967 10.1057C6.03711 10.2233 5.59104 10.2838 5.1428 10.2857C4.30488 10.2891 3.47892 10.0868 2.73736 9.69666C1.99579 9.30652 1.36126 8.74041 0.889399 8.04797C0.417535 7.35553 0.122747 6.55791 0.0308794 5.72503C-0.0609877 4.89215 0.052872 4.04945 0.362476 3.27081L0.840765 2.0528L3.67965 4.89168C3.84282 5.04771 4.05989 5.13479 4.28565 5.13479C4.51142 5.13479 4.72848 5.04771 4.89166 4.89168C5.05235 4.73094 5.14262 4.51296 5.14262 4.28567C5.14262 4.05839 5.05235 3.84041 4.89166 3.67967L2.05106 0.839075L3.27079 0.361642C4.0495 0.052231 4.89222 -0.0614544 5.72508 0.0305502C6.55794 0.122555 7.35553 0.417441 8.04793 0.889362C8.74033 1.36128 9.3064 1.99583 9.69654 2.7374C10.0867 3.47896 10.289 4.3049 10.2857 5.14282C10.2857 5.59092 10.2252 6.03696 10.1057 6.46883L17.5312 13.8943C17.9635 13.7768 18.4092 13.7163 18.8572 13.7143C19.6951 13.711 20.5211 13.9132 21.2626 14.3034C22.0042 14.6935 22.6387 15.2596 23.1106 15.9521C23.5825 16.6445 23.8773 17.4421 23.9691 18.275C24.061 19.1079 23.9471 19.9506 23.6375 20.7292L23.1601 21.9472L20.3204 19.1084C20.1572 18.9526 19.9403 18.8657 19.7148 18.8657C19.4892 18.8657 19.2723 18.9526 19.1092 19.1084C18.9484 19.269 18.858 19.4869 18.8578 19.7142C18.8576 19.9415 18.9478 20.1595 19.1083 20.3204L21.9481 23.1601L20.7292 23.6384C20.1332 23.8746 19.4983 23.9973 18.8572 24.0001ZM6.9111 8.12228L15.8769 17.0898L15.672 17.6118C15.4713 18.1136 15.3928 18.656 15.4431 19.1942C15.4934 19.7324 15.671 20.2509 15.9612 20.7068C16.2515 21.1628 16.646 21.5432 17.1123 21.8166C17.5786 22.0899 18.1033 22.2484 18.6429 22.279L17.8963 21.5332C17.6575 21.2945 17.4681 21.011 17.3388 20.699C17.2095 20.3869 17.143 20.0525 17.143 19.7148C17.143 19.3771 17.2095 19.0427 17.3388 18.7306C17.4681 18.4186 17.6575 18.1351 17.8963 17.8964C18.386 17.4282 19.0373 17.167 19.7148 17.167C20.3922 17.167 21.0436 17.4282 21.5332 17.8964L22.2789 18.6429C22.2483 18.1033 22.0896 17.5786 21.8162 17.1123C21.5427 16.646 21.1623 16.2515 20.7062 15.9613C20.2502 15.671 19.7317 15.4934 19.1935 15.4432C18.6553 15.3929 18.1128 15.4713 17.6109 15.6721L17.0889 15.8769L8.12311 6.91112L8.32883 6.38826C8.5294 5.88634 8.6077 5.34391 8.55729 4.80575C8.50687 4.26759 8.32917 3.74914 8.03886 3.2932C7.74855 2.83727 7.35396 2.45692 6.88766 2.18357C6.42136 1.91021 5.89674 1.75169 5.35709 1.72108L6.10281 2.4668C6.34164 2.70559 6.53109 2.98908 6.66034 3.30109C6.7896 3.6131 6.85612 3.94752 6.85612 4.28525C6.85612 4.62297 6.7896 4.95739 6.66034 5.2694C6.53109 5.58141 6.34164 5.8649 6.10281 6.10369C5.61315 6.57183 4.9618 6.83309 4.28436 6.83309C3.60693 6.83309 2.95558 6.57183 2.46592 6.10369L1.7202 5.35711C1.75075 5.89676 1.90925 6.4214 2.18261 6.88769C2.45597 7.35399 2.83635 7.74855 3.29232 8.0388C3.7483 8.32905 4.26678 8.50665 4.80495 8.55693C5.34312 8.60722 5.88553 8.52874 6.38738 8.32799L6.9111 8.12228Z" fill="#FAFEFE"/>
          <path d="M21.8423 2.13749C21.4138 1.72787 20.8439 1.49927 20.2512 1.49927C19.6584 1.49927 19.0885 1.72787 18.66 2.13749L13.05 7.74749L14.1105 8.80799L19.7206 3.19799C19.8634 3.06164 20.0533 2.98556 20.2508 2.98556C20.4483 2.98556 20.6382 3.06164 20.781 3.19799C20.9217 3.33863 21.0006 3.52936 21.0006 3.72824C21.0006 3.92711 20.9217 4.11784 20.781 4.25849L15.171 9.86849L16.2315 10.9297L21.8415 5.31974C22.263 4.89748 22.4998 4.32523 22.4998 3.72861C22.4998 3.13199 22.2638 2.55975 21.8423 2.13749Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1654_790">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span
            class="menu-text">Reparación</span></a></li>
      <li><a href="/acerca-de-nosotros"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2332)">
          <path d="M12 0C9.62663 0 7.30655 0.703788 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.913451 7.4078C0.00519941 9.60051 -0.232441 12.0133 0.230582 14.3411C0.693605 16.6689 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C23.9966 8.81843 22.7313 5.76814 20.4816 3.51843C18.2319 1.26872 15.1816 0.00335979 12 0ZM12 22.1538C9.99176 22.1538 8.02862 21.5583 6.35883 20.4426C4.68904 19.3269 3.38759 17.7411 2.61907 15.8857C1.85055 14.0303 1.64947 11.9887 2.04126 10.0191C2.43305 8.04943 3.40011 6.24019 4.82015 4.82015C6.24019 3.40011 8.04943 2.43305 10.0191 2.04126C11.9887 1.64947 14.0303 1.85055 15.8857 2.61907C17.7411 3.38759 19.3269 4.68903 20.4426 6.35882C21.5583 8.02861 22.1538 9.99176 22.1538 12C22.1508 14.692 21.08 17.2729 19.1765 19.1765C17.2729 21.08 14.692 22.1508 12 22.1538ZM13.8462 17.5385C13.8462 17.7833 13.7489 18.0181 13.5758 18.1912C13.4027 18.3643 13.1679 18.4615 12.9231 18.4615C12.4334 18.4615 11.9639 18.267 11.6177 17.9208C11.2714 17.5746 11.0769 17.105 11.0769 16.6154V12C10.8321 12 10.5973 11.9027 10.4242 11.7296C10.2511 11.5565 10.1538 11.3217 10.1538 11.0769C10.1538 10.8321 10.2511 10.5973 10.4242 10.4242C10.5973 10.2511 10.8321 10.1538 11.0769 10.1538C11.5666 10.1538 12.0361 10.3483 12.3824 10.6946C12.7286 11.0408 12.9231 11.5104 12.9231 12V16.6154C13.1679 16.6154 13.4027 16.7126 13.5758 16.8857C13.7489 17.0589 13.8462 17.2936 13.8462 17.5385ZM10.1538 6.92308C10.1538 6.64922 10.2351 6.38152 10.3872 6.15383C10.5393 5.92613 10.7556 5.74866 11.0086 5.64386C11.2616 5.53906 11.54 5.51164 11.8086 5.56507C12.0772 5.61849 12.3239 5.75036 12.5175 5.944C12.7112 6.13765 12.843 6.38436 12.8965 6.65295C12.9499 6.92154 12.9225 7.19994 12.8177 7.45294C12.7129 7.70595 12.5354 7.9222 12.3077 8.07434C12.08 8.22648 11.8123 8.30769 11.5385 8.30769C11.1712 8.30769 10.8191 8.16181 10.5594 7.90215C10.2997 7.64248 10.1538 7.2903 10.1538 6.92308Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2332">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Sobre
            Nosotros</span></a></li>
      <li><a href="/ayuda"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2348)">
          <path d="M12 24C5.38286 24 0 18.6171 0 12C0 5.38286 5.38286 0 12 0C18.6171 0 24 5.38286 24 12C24 18.6171 18.6171 24 12 24ZM12 1.71429C6.32571 1.71429 1.71429 6.32571 1.71429 12C1.71429 17.6743 6.32571 22.2857 12 22.2857C17.6743 22.2857 22.2857 17.6743 22.2857 12C22.2857 6.32571 17.6743 1.71429 12 1.71429Z" fill="#FAFEFE"/>
          <path d="M12 5C9.78 5 8 6.78 8 9H10C10 7.9 10.9 7 12 7C13.1 7 14 7.9 14 9C14 11 11 10.76 11 14H13C13 11.76 16 11.5 16 9C16 6.78 14.22 5 12 5Z" fill="#FAFEFE"/>
          <path d="M11.9999 19.24C12.6847 19.24 13.2399 18.6848 13.2399 18C13.2399 17.3152 12.6847 16.76 11.9999 16.76C11.3151 16.76 10.7599 17.3152 10.7599 18C10.7599 18.6848 11.3151 19.24 11.9999 19.24Z" fill="#FAFEFE"/>
          <path d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z" fill="#FAFEFE"/>
          <path d="M12 15C12.5523 15 13 14.5523 13 14C13 13.4477 12.5523 13 12 13C11.4477 13 11 13.4477 11 14C11 14.5523 11.4477 15 12 15Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2348">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Ayuda</span></a></li>
      <li id="logout"><a href="/cerrar-sesion"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2400)">
          <path d="M13.7565 22.9938H7.64781C6.11142 23.0646 4.60897 22.5274 3.46583 21.4985C2.3227 20.4695 1.63091 19.0316 1.54028 17.4963V6.5037C1.63091 4.96835 2.3227 3.5305 3.46583 2.50155C4.60897 1.47259 6.11142 0.935366 7.64781 1.00621H13.7553" stroke="#FAFEFE" stroke-width="1.78374" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22.4587 12H6.57983" stroke="#FAFEFE" stroke-width="1.78374" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M16.8555 18.1075L22.0925 12.8704C22.322 12.6389 22.4507 12.326 22.4507 12C22.4507 11.674 22.322 11.3611 22.0925 11.1295L16.8555 5.89246" stroke="#FAFEFE" stroke-width="1.78374" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2400">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg><i></i><span class="menu-text">Salir</span></a></li>
    </ul>
  </div>
</nav>