<nav class="navbar-blue">
  <div id="navsuperior">
    <a href="/"><img class="logo" src="/img/logo-techrevamp.png" /></a>
    <div class="searchbar-hiddenonphone">
      <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
          <path
            d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
            fill="#11485A" />
        </svg></i></button>
    </div>
    <div class="icons">
      <div class="cart">
        <a href="/carro-compras"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 25"
            fill="#FAFEFE">
            <path
              d="M13.4319 9.64286C14.1035 9.64286 14.653 9.12857 14.653 8.5V6.21429H17.0952C17.7668 6.21429 18.3162 5.7 18.3162 5.07143C18.3162 4.44286 17.7668 3.92857 17.0952 3.92857H14.653V1.64286C14.653 1.01429 14.1035 0.5 13.4319 0.5C12.7603 0.5 12.2108 1.01429 12.2108 1.64286V3.92857H9.76866C9.09706 3.92857 8.54758 4.44286 8.54758 5.07143C8.54758 5.7 9.09706 6.21429 9.76866 6.21429H12.2108V8.5C12.2108 9.12857 12.7603 9.64286 13.4319 9.64286ZM7.32649 19.9286C5.9833 19.9286 4.89654 20.9571 4.89654 22.2143C4.89654 23.4714 5.9833 24.5 7.32649 24.5C8.66969 24.5 9.76866 23.4714 9.76866 22.2143C9.76866 20.9571 8.66969 19.9286 7.32649 19.9286ZM19.5373 19.9286C18.1941 19.9286 17.1074 20.9571 17.1074 22.2143C17.1074 23.4714 18.1941 24.5 19.5373 24.5C20.8805 24.5 21.9795 23.4714 21.9795 22.2143C21.9795 20.9571 20.8805 19.9286 19.5373 19.9286ZM8.66969 14.2143H17.7668C18.6826 14.2143 19.4885 13.7457 19.9036 13.0371L23.86 6.02C24.1652 5.47143 23.9576 4.78571 23.3715 4.48857C22.7732 4.18 22.0283 4.39714 21.7108 4.95714L17.7668 11.9286H9.19475L3.99294 1.64286H1.22108C0.549487 1.64286 0 2.15714 0 2.78571C0 3.41429 0.549487 3.92857 1.22108 3.92857H2.44216L6.83806 12.6029L5.1896 15.3914C4.29821 16.9229 5.47045 18.7857 7.32649 18.7857H20.7584C21.43 18.7857 21.9795 18.2714 21.9795 17.6429C21.9795 17.0143 21.43 16.5 20.7584 16.5H7.32649L8.66969 14.2143Z" />
          </svg></a>
      </div>
      <div class="toggle" id="navbarToggle" onclick="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="#FAFEFE">
          <path
            d="M4 18.5H20C20.55 18.5 21 18.05 21 17.5C21 16.95 20.55 16.5 20 16.5H4C3.45 16.5 3 16.95 3 17.5C3 18.05 3.45 18.5 4 18.5ZM4 13.5H20C20.55 13.5 21 13.05 21 12.5C21 11.95 20.55 11.5 20 11.5H4C3.45 11.5 3 11.95 3 12.5C3 13.05 3.45 13.5 4 13.5ZM3 7.5C3 8.05 3.45 8.5 4 8.5H20C20.55 8.5 21 8.05 21 7.5C21 6.95 20.55 6.5 20 6.5H4C3.45 6.5 3 6.95 3 7.5Z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="searchbar">
    <input type="text" placeholder="Busca..." /> <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        viewBox="0 0 24 24" fill="none">
        <path
          d="M17.5981 15.4774H16.486L16.0918 15.0975C17.7811 13.1278 18.654 10.4405 18.1753 7.58436C17.5137 3.67303 14.2476 0.549592 10.3058 0.0712279C4.35092 -0.660388 -0.660776 4.34837 0.0712697 10.2998C0.549915 14.2393 3.67519 17.5034 7.58881 18.1647C10.4466 18.643 13.1355 17.7707 15.1064 16.0824L15.4865 16.4763V17.5878L21.4695 23.5674C22.0467 24.1442 22.9899 24.1442 23.5671 23.5674C24.1443 22.9905 24.1443 22.0478 23.5671 21.471L17.5981 15.4774ZM9.15145 15.4774C5.64608 15.4774 2.81644 12.6494 2.81644 9.14608C2.81644 5.64277 5.64608 2.81479 9.15145 2.81479C12.6568 2.81479 15.4865 5.64277 15.4865 9.14608C15.4865 12.6494 12.6568 15.4774 9.15145 15.4774Z"
          fill="#11485A" />
      </svg></i></button>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li><a href="/"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2299)">
          <path d="M4 10V22.1746C4 22.3935 4.08141 22.6035 4.22633 22.7582C4.37124 22.913 4.56779 23 4.77273 23H9.40909V15.9841C9.40909 15.6558 9.53121 15.3409 9.74858 15.1087C9.96595 14.8765 10.2608 14.746 10.5682 14.746H14.4318C14.7392 14.746 15.034 14.8765 15.2514 15.1087C15.4688 15.3409 15.5909 15.6558 15.5909 15.9841V23H20.2273C20.4322 23 20.6288 22.913 20.7737 22.7582C20.9186 22.6035 21 22.3935 21 22.1746V11.0888" stroke="#FAFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M23 13L12.5348 1.22978C12.2892 0.92514 11.7152 0.921678 11.4652 1.22978L1 13M19.0714 8.55732V1.92215H16.7143V5.90325" stroke="#FAFEFE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2299">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Inicio</span></a></li>
      <li><a href="/productos"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2283)">
          <path d="M15.75 0.0234375L24 4.14844V13.3477L22.5 12.5977V5.82422L16.5 8.82422V11.8477L15 12.5977V8.82422L9 5.82422V8.48438L7.5 7.73438V4.14844L15.75 0.0234375ZM15.75 7.52344L17.8242 6.48047L12.3984 3.375L9.92578 4.61719L15.75 7.52344ZM19.4414 5.68359L21.5742 4.61719L15.75 1.69922L14.0039 2.57812L19.4414 5.68359ZM13.5 13.3477L12 14.0977V14.0859L7.5 16.3359V21.668L12 19.4062V21.0938L6.75 23.7188L0 20.332V12.4102L6.75 9.03516L13.5 12.4102V13.3477ZM6 21.668V16.3359L1.5 14.0859V19.4062L6 21.668ZM6.75 15.0352L11.0742 12.8789L6.75 10.7109L2.42578 12.8789L6.75 15.0352ZM13.5 15.0234L18.75 12.3984L24 15.0234V21.1992L18.75 23.8242L13.5 21.1992V15.0234ZM18 21.7734V18.1992L15 16.6992V20.2734L18 21.7734ZM22.5 20.2734V16.6992L19.5 18.1992V21.7734L22.5 20.2734ZM18.75 16.8984L21.5742 15.4805L18.75 14.0742L15.9258 15.4805L18.75 16.8984Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2283">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span
            class="menu-text">Productos</span></a></li>
      <li><a href="/acerca-de-nosotros"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2332)">
          <path d="M12 0C9.62663 0 7.30655 0.703788 5.33316 2.02236C3.35977 3.34094 1.8217 5.21508 0.913451 7.4078C0.00519941 9.60051 -0.232441 12.0133 0.230582 14.3411C0.693605 16.6689 1.83649 18.807 3.51472 20.4853C5.19295 22.1635 7.33115 23.3064 9.65892 23.7694C11.9867 24.2324 14.3995 23.9948 16.5922 23.0865C18.7849 22.1783 20.6591 20.6402 21.9776 18.6668C23.2962 16.6934 24 14.3734 24 12C23.9966 8.81843 22.7313 5.76814 20.4816 3.51843C18.2319 1.26872 15.1816 0.00335979 12 0ZM12 22.1538C9.99176 22.1538 8.02862 21.5583 6.35883 20.4426C4.68904 19.3269 3.38759 17.7411 2.61907 15.8857C1.85055 14.0303 1.64947 11.9887 2.04126 10.0191C2.43305 8.04943 3.40011 6.24019 4.82015 4.82015C6.24019 3.40011 8.04943 2.43305 10.0191 2.04126C11.9887 1.64947 14.0303 1.85055 15.8857 2.61907C17.7411 3.38759 19.3269 4.68903 20.4426 6.35882C21.5583 8.02861 22.1538 9.99176 22.1538 12C22.1508 14.692 21.08 17.2729 19.1765 19.1765C17.2729 21.08 14.692 22.1508 12 22.1538ZM13.8462 17.5385C13.8462 17.7833 13.7489 18.0181 13.5758 18.1912C13.4027 18.3643 13.1679 18.4615 12.9231 18.4615C12.4334 18.4615 11.9639 18.267 11.6177 17.9208C11.2714 17.5746 11.0769 17.105 11.0769 16.6154V12C10.8321 12 10.5973 11.9027 10.4242 11.7296C10.2511 11.5565 10.1538 11.3217 10.1538 11.0769C10.1538 10.8321 10.2511 10.5973 10.4242 10.4242C10.5973 10.2511 10.8321 10.1538 11.0769 10.1538C11.5666 10.1538 12.0361 10.3483 12.3824 10.6946C12.7286 11.0408 12.9231 11.5104 12.9231 12V16.6154C13.1679 16.6154 13.4027 16.7126 13.5758 16.8857C13.7489 17.0589 13.8462 17.2936 13.8462 17.5385ZM10.1538 6.92308C10.1538 6.64922 10.2351 6.38152 10.3872 6.15383C10.5393 5.92613 10.7556 5.74866 11.0086 5.64386C11.2616 5.53906 11.54 5.51164 11.8086 5.56507C12.0772 5.61849 12.3239 5.75036 12.5175 5.944C12.7112 6.13765 12.843 6.38436 12.8965 6.65295C12.9499 6.92154 12.9225 7.19994 12.8177 7.45294C12.7129 7.70595 12.5354 7.9222 12.3077 8.07434C12.08 8.22648 11.8123 8.30769 11.5385 8.30769C11.1712 8.30769 10.8191 8.16181 10.5594 7.90215C10.2997 7.64248 10.1538 7.2903 10.1538 6.92308Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2332">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Sobre
            Nosotros</span></a></li>
      <li><a href="/ayuda"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2348)">
          <path d="M12 24C5.38286 24 0 18.6171 0 12C0 5.38286 5.38286 0 12 0C18.6171 0 24 5.38286 24 12C24 18.6171 18.6171 24 12 24ZM12 1.71429C6.32571 1.71429 1.71429 6.32571 1.71429 12C1.71429 17.6743 6.32571 22.2857 12 22.2857C17.6743 22.2857 22.2857 17.6743 22.2857 12C22.2857 6.32571 17.6743 1.71429 12 1.71429Z" fill="#FAFEFE"/>
          <path d="M12 5C9.78 5 8 6.78 8 9H10C10 7.9 10.9 7 12 7C13.1 7 14 7.9 14 9C14 11 11 10.76 11 14H13C13 11.76 16 11.5 16 9C16 6.78 14.22 5 12 5Z" fill="#FAFEFE"/>
          <path d="M11.9999 19.24C12.6847 19.24 13.2399 18.6848 13.2399 18C13.2399 17.3152 12.6847 16.76 11.9999 16.76C11.3151 16.76 10.7599 17.3152 10.7599 18C10.7599 18.6848 11.3151 19.24 11.9999 19.24Z" fill="#FAFEFE"/>
          <path d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z" fill="#FAFEFE"/>
          <path d="M12 15C12.5523 15 13 14.5523 13 14C13 13.4477 12.5523 13 12 13C11.4477 13 11 13.4477 11 14C11 14.5523 11.4477 15 12 15Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2348">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Ayuda</span></a></li>
      <li><a href="/registro"><i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2368)">
          <path d="M23.89 22.0803C22.0323 18.8701 19.1159 16.6176 15.7271 15.6624C17.3747 14.8249 18.6921 13.4569 19.4671 11.779C20.2421 10.1012 20.4293 8.21121 19.9987 6.41389C19.5681 4.61657 18.5448 3.01665 17.0936 1.8721C15.6425 0.727559 13.8482 0.105103 12 0.105103C10.1518 0.105103 8.3575 0.727559 6.90636 1.8721C5.45522 3.01665 4.43185 4.61657 4.00125 6.41389C3.57066 8.21121 3.75794 10.1012 4.5329 11.779C5.30785 13.4569 6.62532 14.8249 8.27286 15.6624C4.88412 16.6165 1.96774 18.869 0.110041 22.0803C0.0590305 22.1605 0.0247792 22.2503 0.00934722 22.3441C-0.00608476 22.4379 -0.00237837 22.5339 0.0202431 22.6262C0.0428645 22.7186 0.0839335 22.8054 0.14098 22.8815C0.198026 22.9575 0.26987 23.0213 0.352191 23.0689C0.434511 23.1165 0.525606 23.1469 0.619996 23.1584C0.714386 23.1698 0.810119 23.1621 0.901438 23.1356C0.992756 23.1091 1.07777 23.0644 1.15137 23.0042C1.22497 22.944 1.28563 22.8695 1.3297 22.7853C3.5869 18.8854 7.5749 16.5577 12 16.5577C16.4251 16.5577 20.4131 18.8854 22.6703 22.7853C22.7144 22.8695 22.775 22.944 22.8486 23.0042C22.9222 23.0644 23.0072 23.1091 23.0986 23.1356C23.1899 23.1621 23.2856 23.1698 23.38 23.1584C23.4744 23.1469 23.5655 23.1165 23.6478 23.0689C23.7301 23.0213 23.802 22.9575 23.859 22.8815C23.9161 22.8054 23.9571 22.7186 23.9798 22.6262C24.0024 22.5339 24.0061 22.4379 23.9907 22.3441C23.9752 22.2503 23.941 22.1605 23.89 22.0803ZM5.18492 8.33262C5.18492 6.98473 5.58462 5.6671 6.33347 4.54637C7.08232 3.42564 8.14669 2.55213 9.39198 2.03631C10.6373 1.5205 12.0076 1.38553 13.3296 1.6485C14.6515 1.91146 15.8659 2.56053 16.819 3.51364C17.7721 4.46674 18.4212 5.68107 18.6841 7.00307C18.9471 8.32506 18.8121 9.69535 18.2963 10.9406C17.7805 12.1859 16.907 13.2503 15.7863 13.9992C14.6655 14.748 13.3479 15.1477 12 15.1477C10.1932 15.1455 8.46102 14.4268 7.18342 13.1492C5.90581 11.8716 5.1871 10.1394 5.18492 8.33262Z" fill="#FAFEFE"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2368">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg></i><span class="menu-text">Cuenta</span></a></li>
      <li><a href="/cerrar-sesion" id="logout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_1557_2400)">
          <path d="M13.7565 22.9938H7.64781C6.11142 23.0646 4.60897 22.5274 3.46583 21.4985C2.3227 20.4695 1.63091 19.0316 1.54028 17.4963V6.5037C1.63091 4.96835 2.3227 3.5305 3.46583 2.50155C4.60897 1.47259 6.11142 0.935366 7.64781 1.00621H13.7553" stroke="#FAFEFE" stroke-width="1.78374" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22.4587 12H6.57983" stroke="#FAFEFE" stroke-width="1.78374" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M16.8555 18.1075L22.0925 12.8704C22.322 12.6389 22.4507 12.326 22.4507 12C22.4507 11.674 22.322 11.3611 22.0925 11.1295L16.8555 5.89246" stroke="#FAFEFE" stroke-width="1.78374" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_1557_2400">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg><i></i><span class="menu-text">Salir</span></a></li>
    </ul>
  </div>
</nav>