<div></div>
<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 3C0 2.44772 0.447715 2 1 2H16C16.5523 2 17 2.44772 17 3V16C17 16.5523 16.5523 17 16 17H1C0.447715 17 0 16.5523 0 16V3ZM2 4V15H15V4H2Z"
      fill="#232323"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15 8C15 7.44772 15.4477 7 16 7H20C20.2652 7 20.5196 7.10536 20.7071 7.29289L23.7071 10.2929C23.8946 10.4804 24 10.7348 24 11V16C24 16.5523 23.5523 17 23 17H16C15.4477 17 15 16.5523 15 16V8ZM17 9V15H22V11.4142L19.5858 9H17Z"
      fill="#232323"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.5 17C4.67157 17 4 17.6716 4 18.5C4 19.3284 4.67157 20 5.5 20C6.32843 20 7 19.3284 7 18.5C7 17.6716 6.32843 17 5.5 17ZM2 18.5C2 16.567 3.567 15 5.5 15C7.433 15 9 16.567 9 18.5C9 20.433 7.433 22 5.5 22C3.567 22 2 20.433 2 18.5Z"
      fill="#232323"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.5 17C17.6716 17 17 17.6716 17 18.5C17 19.3284 17.6716 20 18.5 20C19.3284 20 20 19.3284 20 18.5C20 17.6716 19.3284 17 18.5 17ZM15 18.5C15 16.567 16.567 15 18.5 15C20.433 15 22 16.567 22 18.5C22 20.433 20.433 22 18.5 22C16.567 22 15 20.433 15 18.5Z"
      fill="#232323"
    />
  </svg>
  <h4>Entrega en un máximo de 3 días</h4>
  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
    <circle cx="4" cy="4" r="4" fill="#37C882"/>
  </svg> 
  <p>Artículo disponible</p>
</div>
<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
  >
    <g clip-path="url(#clip0_375_6750)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1 3C1.55228 3 2 3.44772 2 4V9H7C7.55228 9 8 9.44772 8 10C8 10.5523 7.55228 11 7 11H1C0.447715 11 0 10.5523 0 10V4C0 3.44772 0.447715 3 1 3Z"
        fill="#232323"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.6054 2.10688C12.7523 1.80482 14.9392 2.20868 16.8366 3.2576C18.7341 4.30652 20.2392 5.94369 21.1253 7.92242C22.0114 9.90115 22.2304 12.1142 21.7493 14.2283C21.2682 16.3423 20.1131 18.2427 18.4581 19.6431C16.803 21.0436 14.7377 21.8683 12.5732 21.9928C10.4087 22.1174 8.26236 21.5352 6.45756 20.3338C4.65276 19.1325 3.28727 17.3772 2.56683 15.3323C2.38331 14.8114 2.65681 14.2404 3.17771 14.0568C3.69861 13.8733 4.26966 14.1468 4.45318 14.6677C5.02953 16.3036 6.12192 17.7079 7.56576 18.6689C9.0096 19.63 10.7267 20.0958 12.4583 19.9961C14.1898 19.8965 15.8421 19.2368 17.1662 18.1164C18.4902 16.996 19.4143 15.4757 19.7992 13.7845C20.184 12.0933 20.0088 10.3228 19.3 8.7398C18.5911 7.15682 17.387 5.84709 15.869 5.00795C14.3511 4.16881 12.6015 3.84573 10.884 4.08737C9.16647 4.32902 7.57399 5.12231 6.34651 6.34772C6.33937 6.35484 6.33213 6.36186 6.32478 6.36876L1.68478 10.7288C1.2823 11.107 0.649442 11.0873 0.27125 10.6848C-0.106942 10.2823 -0.0872528 9.64945 0.315226 9.27126L4.94449 4.92135C6.47735 3.39582 8.46357 2.40822 10.6054 2.10688Z"
        fill="#232323"
      />
    </g>
    <defs>
      <clipPath id="clip0_375_6750">
        <rect width="24" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>
  <h4>Devolución gratuita hasta 30 días</h4>
</div>
<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3 5C2.44772 5 2 5.44772 2 6V18C2 18.5523 2.44772 19 3 19H21C21.5523 19 22 18.5523 22 18V6C22 5.44772 21.5523 5 21 5H3ZM0 6C0 4.34315 1.34315 3 3 3H21C22.6569 3 24 4.34315 24 6V18C24 19.6569 22.6569 21 21 21H3C1.34315 21 0 19.6569 0 18V6Z"
      fill="#232323"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 10C0 9.44772 0.447715 9 1 9H23C23.5523 9 24 9.44772 24 10C24 10.5523 23.5523 11 23 11H1C0.447715 11 0 10.5523 0 10Z"
      fill="#232323"
    />
  </svg>
  <h4>Pago seguro</h4>
</div>
<div class="Buttons" style="width: 328px; height: 48px; padding-left: 36px; padding-right: 36px; padding-top: 12px; padding-bottom: 12px; background: #11485A; border-radius: 8px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
  <div class="Iconos" style="width: 24px; height: 24px; position: relative">
    <div class="Vector" style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #FAFEFE"></div>
  </div>
  <div class="TextButton" style="justify-content: center; align-items: center; gap: 10px; display: flex">
    <div class="BotN" style="color: #FAFEFE; font-size: 18px; font-family: Ubuntu; font-weight: 400; word-wrap: break-word">Add to cart</div>
  </div>
</div>
<h4>Reseñas</h4>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
    <path d="M41.7639 38.6982C44.1874 35.7824 45.8729 32.3257 46.678 28.6207C47.483 24.9157 47.3838 21.0713 46.3888 17.4128C45.3939 13.7542 43.5324 10.3891 40.9618 7.60208C38.3912 4.81508 35.1872 2.68821 31.6208 1.40137C28.0544 0.114533 24.2306 -0.294408 20.4727 0.209142C16.7148 0.712692 13.1335 2.11392 10.0317 4.29429C6.92992 6.47465 4.39889 9.37001 2.65274 12.7354C0.906589 16.1009 -0.00331188 19.8374 9.0579e-06 23.6288C0.00142766 29.1405 1.94371 34.4756 5.48607 38.6982L5.45232 38.7269C5.57045 38.8686 5.70545 38.9901 5.82695 39.1302C5.97882 39.304 6.14251 39.4677 6.29945 39.6364C6.7697 40.1506 7.25907 40.6399 7.76757 41.1046C7.92507 41.2441 8.08257 41.3802 8.24007 41.5129C8.78007 41.9798 9.33695 42.4197 9.9107 42.8326C9.98495 42.8832 10.0524 42.949 10.1267 43.0013V42.9811C14.0789 45.7626 18.7938 47.2554 23.6267 47.2554C28.4596 47.2554 33.1745 45.7626 37.1267 42.9811V43.0013C37.2009 42.949 37.2668 42.8832 37.3427 42.8326C37.9164 42.4186 38.4733 41.9787 39.0133 41.5129C39.1708 41.3791 39.3283 41.2429 39.4858 41.1046C39.9932 40.6399 40.4826 40.1506 40.9539 39.6364C41.1109 39.4677 41.2729 39.304 41.4264 39.1302C41.5463 38.9901 41.6829 38.8686 41.8011 38.7252L41.7639 38.6982ZM23.625 10.1288C25.1269 10.1288 26.5951 10.5742 27.8439 11.4086C29.0927 12.243 30.066 13.429 30.6407 14.8166C31.2155 16.2041 31.3659 17.731 31.0728 19.204C30.7798 20.6771 30.0566 22.0301 28.9946 23.0921C27.9326 24.1542 26.5795 24.8774 25.1065 25.1704C23.6334 25.4634 22.1066 25.313 20.719 24.7383C19.3314 24.1635 18.1454 23.1902 17.311 21.9414C16.4766 20.6926 16.0313 19.2245 16.0313 17.7226C16.0313 15.7086 16.8313 13.7771 18.2554 12.353C19.6795 10.9289 21.611 10.1288 23.625 10.1288ZM10.1368 38.6982C10.1661 36.4824 11.0665 34.3673 12.6434 32.8104C14.2202 31.2535 16.3466 30.3799 18.5625 30.3788H28.6875C30.9034 30.3799 33.0298 31.2535 34.6067 32.8104C36.1835 34.3673 37.0839 36.4824 37.1132 38.6982C33.4122 42.0332 28.6069 43.8789 23.625 43.8789C18.6431 43.8789 13.8378 42.0332 10.1368 38.6982Z" fill="#11485A"/>
  </svg>
    <P>Nombre y apelllido</P>
    <p>2024/02/25</p>
    <div><svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <rect width="16.4127" height="15" fill="white"/>
      <path d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z" fill="#5D5757"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <rect width="16.4127" height="15" fill="white"/>
      <path d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z" fill="#5D5757"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <rect width="16.4127" height="15" fill="white"/>
      <path d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z" fill="#5D5757"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <rect width="16.4127" height="15" fill="white"/>
      <path d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z" fill="#5D5757"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <rect width="16.4127" height="15" fill="white"/>
      <path d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z" fill="#5D5757"/>
    </svg>
    <div>
      <h5>Titulo de reseña</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>