<div class="review-user">
  <div class="info-user">
    <img class="avatar" src="../img/products/valentina.png" alt="foto-de-opinion">
    <div class="top-user">
      <div class="top-user-info">
        <p class="fullname">Valentina García</p>
        <p class="date">2024/03/12</p>
      </div>
      <div class="rating">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 17 15"
          fill="none"
        >
          <rect width="16.4127" height="15" fill="white" />
          <path
            d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z"
            fill="#5D5757"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 17 15"
          fill="none"
        >
          <rect width="16.4127" height="15" fill="white" />
          <path
            d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z"
            fill="#5D5757"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 17 15"
          fill="none"
        >
          <rect width="16.4127" height="15" fill="white" />
          <path
            d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z"
            fill="#5D5757"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 17 15"
          fill="none"
        >
          <rect width="16.4127" height="15" fill="white" />
          <path
            d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z"
            fill="#5D5757"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="15"
          viewBox="0 0 17 15"
          fill="none"
        >
          <rect width="16.4127" height="15" fill="white" />
          <path
            d="M8.20635 0L10.0488 5.18237H16.0111L11.1875 8.38525L13.0299 13.5676L8.20635 10.3647L3.38278 13.5676L5.22522 8.38525L0.401647 5.18237H6.36391L8.20635 0Z"
            fill="#5D5757"
          />
        </svg>
      </div>
    </div>
  </div>
  
  <div class="description-review">
    <h5 class="title-review">Excelente Compra</h5>
    <p class="content-review">
      La Dell Inspiron está en excelentes condiciones, funciona perfecto y parece nueva. Muy buena compra. ❤️
    </p>
  </div>
</div>
