.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: var(--Colors-neutral-white, #FAFEFE);
    background: var(--primary-blue-principal-900, #11485A);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

#navsuperior{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 36px;
}

.icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.toggle {
    cursor: pointer;
}

.menu{
    display: none;
    align-items: flex-start;
    gap: 6px;   
}

.menu a{
    text-align: left;
    color: var(--Colors-neutral-white, #FAFEFE);
    text-decoration: none;
    font-size: 1rem; 
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Colors-neutral-white, #FAFEFE);
    border-radius: 4px;
    width: 100%;
    max-width: 550px;
    margin: 0;
    flex-grow: 1;
}

.searchbar input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
}

.searchbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: var(--primary-blue-principal-900, #11485A);
    color: var(--Colors-neutral-white, #FAFEFE);
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-products:hover, .menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0 30%; */
}
.hidden{
    display: none;
}

/* Media queries for responsive design */
/* @media (min-width: 768px) {
    .navbar {
        align-items: flex-start;
    }

    .navbar-left, .navbar-center, .navbar-right {
        width: 100%;
        justify-content: space-between;
    }

    .navbar-right, .navbar-left .navbar-products {
        display: none; 
    }

    /* .navbar-center {
        order: -1; 
    } */

    /* .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar.active .navbar-right, .navbar.active .navbar-left .navbar-products {
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
}*/

/* Media queries adjustments for very small screens */
/* 